<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAsVariable</key>
	<string>modelVisitorInterval</string>
	<key>pointDespiteStage</key>
	<string>assetOutsideAdapter</string>
</dict>
</plist>
