<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxByMethod</key>
	<string>retainedDelegateScale</string>
	<key>coordinatorAwayPhase</key>
	<string>smartConstraintHead</string>
	<key>interfaceProcessShape</key>
	<string>cubitBufferSkewy</string>
	<key>lazyOffsetStatus</key>
	<string>mobileTierInterval</string>
	<key>metadataAtDecorator</key>
	<string>constTimerState</string>
	<key>prevLayoutFlags</key>
	<string>ephemeralOperationVisibility</string>
	<key>seamlessCaptionEdge</key>
	<string>mediaProxyVelocity</string>
	<key>sessionAdapterValidation</key>
	<string>swiftDespiteEnvironment</string>
	<key>themeMementoTransparency</key>
	<string>allocatorAtStructure</string>
	<key>unaryWithoutShape</key>
	<string>immediateDocumentBehavior</string>
</dict>
</plist>
