<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyBesideTier</key>
	<string>accordionRemainderContrast</string>
	<key>immutableCallbackRight</key>
	<string>transitionAdapterVelocity</string>
	<key>listenerMementoDensity</key>
	<string>sinkSingletonOrientation</string>
	<key>parallelQueueVelocity</key>
	<string>offsetInBuffer</string>
	<key>prevLabelStatus</key>
	<string>basicGrayscaleShape</string>
	<key>tabviewOperationTop</key>
	<string>multiAssetRate</string>
	<key>zoneForPrototype</key>
	<string>sampleInsideShape</string>
</dict>
</plist>
