<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticWithState</key>
	<string>captionExceptFunction</string>
	<key>customizedRouteAlignment</key>
	<string>metadataTierPressure</string>
	<key>firstGrainVisibility</key>
	<string>declarativeStorageSkewx</string>
	<key>gridviewContainPhase</key>
	<string>radiusNearContext</string>
	<key>listviewInState</key>
	<string>sizeMediatorDuration</string>
	<key>optionStageOpacity</key>
	<string>containerThroughFunction</string>
	<key>profileAndObserver</key>
	<string>rowModeAlignment</string>
	<key>providerAmongShape</key>
	<string>modulusThanScope</string>
	<key>serviceStyleDensity</key>
	<string>assetChainOpacity</string>
	<key>topicAdapterIndex</key>
	<string>mobileContextHead</string>
</dict>
</plist>
