<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationCycleSize</key>
	<string>localizationNumberHead</string>
	<key>exceptionFlyweightTail</key>
	<string>groupExceptStructure</string>
	<key>screenDespiteShape</key>
	<string>ephemeralThreadOrigin</string>
	<key>scrollableEntropyMode</key>
	<string>imperativePaddingRotation</string>
	<key>significantSampleValidation</key>
	<string>offsetSinceValue</string>
	<key>sophisticatedSizeCount</key>
	<string>dependencyWorkBorder</string>
</dict>
</plist>
