<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureForParam</key>
	<string>usageAsAdapter</string>
	<key>ignoredContainerMomentum</key>
	<string>permissiveStreamName</string>
	<key>methodThanState</key>
	<string>subtleMusicValidation</string>
	<key>unaryShapeTail</key>
	<string>touchContainState</string>
</dict>
</plist>
