<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandJobInteraction</key>
	<string>missedNavigationTension</string>
	<key>plateMementoDepth</key>
	<string>textAsShape</string>
	<key>sceneContextInset</key>
	<string>rowCommandSpeed</string>
</dict>
</plist>
