<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteRowInterval</key>
	<string>pageviewWithoutPhase</string>
	<key>futureCommandDensity</key>
	<string>backwardAlignmentInset</string>
	<key>presenterBeyondFramework</key>
	<string>asyncTableRate</string>
	<key>rectAndContext</key>
	<string>localBaseDuration</string>
	<key>semanticSpineMargin</key>
	<string>resultForLevel</string>
	<key>semanticsIncludeMediator</key>
	<string>iterativeSceneShade</string>
	<key>webCanvasMargin</key>
	<string>convolutionAboutPrototype</string>
</dict>
</plist>
