<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocScopeSaturation</key>
	<string>usecaseForDecorator</string>
	<key>globalCheckboxSize</key>
	<string>referenceSinceFacade</string>
	<key>groupMementoVisible</key>
	<string>flexibleTouchCoord</string>
	<key>iterativePreviewStatus</key>
	<string>vectorValueDensity</string>
	<key>otherButtonAcceleration</key>
	<string>flexibleSubscriptionLocation</string>
	<key>permanentNavigatorScale</key>
	<string>configurationFlyweightIndex</string>
	<key>providerNearJob</key>
	<string>touchOutsideType</string>
	<key>rectForAdapter</key>
	<string>animatedBlocHue</string>
	<key>secondCompletionPressure</key>
	<string>capsuleThroughActivity</string>
	<key>timerOfParam</key>
	<string>handlerPhaseIndex</string>
</dict>
</plist>
