<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAwayActivity</key>
	<string>gridviewChainFeedback</string>
	<key>denseObserverName</key>
	<string>cursorDespiteSingleton</string>
	<key>geometricDialogsAppearance</key>
	<string>materialUsageStatus</string>
	<key>gramAlongJob</key>
	<string>advancedTimerLeft</string>
	<key>tabviewVersusNumber</key>
	<string>hashInPlatform</string>
</dict>
</plist>
