<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationOrNumber</key>
	<string>permanentBlocFeedback</string>
	<key>ephemeralFeatureStyle</key>
	<string>cursorTierTheme</string>
	<key>fixedSliderSkewy</key>
	<string>cartesianRowScale</string>
	<key>isolateFunctionAcceleration</key>
	<string>profileNearPattern</string>
	<key>primaryInstructionPressure</key>
	<string>gateTierTheme</string>
	<key>repositoryWithoutFacade</key>
	<string>tabbarWithoutContext</string>
	<key>requiredSwiftVisible</key>
	<string>constBufferInset</string>
	<key>scrollForTemple</key>
	<string>crucialObserverShape</string>
	<key>smallQueryStatus</key>
	<string>displayableStateSkewx</string>
	<key>vectorActionTail</key>
	<string>petSystemCoord</string>
</dict>
</plist>
