<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredLabelTop</key>
	<string>fusedCommandInteraction</string>
	<key>errorFromWork</key>
	<string>cardVisitorSkewx</string>
	<key>providerStructureCoord</key>
	<string>layerThroughObserver</string>
	<key>rectBufferDepth</key>
	<string>sliderLikeMediator</string>
</dict>
</plist>
