<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitMethodAcceleration</key>
	<string>interactorInterpreterPressure</string>
	<key>currentTransformerPosition</key>
	<string>roleDuringKind</string>
	<key>descriptorAmongState</key>
	<string>sizedboxBridgeRight</string>
	<key>extensionKindEdge</key>
	<string>musicShapePosition</string>
	<key>nextNormLeft</key>
	<string>mediumBoxshadowCount</string>
	<key>observerAlongJob</key>
	<string>mediumCaptionFeedback</string>
	<key>requiredHeapOrigin</key>
	<string>navigatorFrameworkLocation</string>
	<key>statelessSingletonContrast</key>
	<string>repositoryIncludeJob</string>
	<key>usedScaleBehavior</key>
	<string>skirtMementoStatus</string>
</dict>
</plist>
