<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationLayerAppearance</key>
	<string>composableHashSize</string>
	<key>granularModalSkewx</key>
	<string>gemProxyOffset</string>
	<key>operationWithValue</key>
	<string>delegateAsPrototype</string>
	<key>popupCompositeBehavior</key>
	<string>menuUntilTask</string>
	<key>popupStyleColor</key>
	<string>permanentCharacterVisibility</string>
	<key>storyboardVisitorState</key>
	<string>accordionRouterRate</string>
</dict>
</plist>
