<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCommandMomentum</key>
	<string>topicScopeShade</string>
	<key>dialogsAroundDecorator</key>
	<string>protectedBulletDensity</string>
	<key>observerLevelHue</key>
	<string>liteTaskPosition</string>
	<key>skirtModeBorder</key>
	<string>contractionMethodLeft</string>
	<key>storageOutsideValue</key>
	<string>stateThanChain</string>
</dict>
</plist>
