<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyFeatureOrientation</key>
	<string>directlyResourceDuration</string>
	<key>notifierStyleName</key>
	<string>storageFlyweightOrientation</string>
	<key>offsetAboutShape</key>
	<string>seamlessStatefulType</string>
</dict>
</plist>
