<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocProxyFrequency</key>
	<string>elasticPresenterSize</string>
	<key>factoryStrategyVisible</key>
	<string>dynamicFragmentAlignment</string>
	<key>interfaceThroughFlyweight</key>
	<string>disparateCoordinatorStatus</string>
	<key>specifyConstraintBottom</key>
	<string>aspectratioDespiteStrategy</string>
	<key>statefulGestureKind</key>
	<string>layerLikeCycle</string>
</dict>
</plist>
