<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionProgressbarDelay</key>
	<string>commonCosinePressure</string>
	<key>checklistTierTension</key>
	<string>autoFeatureTail</string>
	<key>plateInterpreterOrigin</key>
	<string>storeExceptContext</string>
	<key>relationalBlocDepth</key>
	<string>protectedLayoutMode</string>
</dict>
</plist>
