<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupAroundMediator</key>
	<string>semanticsAwayStage</string>
	<key>hardDelegateTop</key>
	<string>accessibleLabelDuration</string>
	<key>mediumGateSize</key>
	<string>blocAdapterBehavior</string>
	<key>semanticCallbackRight</key>
	<string>characterParamCenter</string>
	<key>stateShapeShape</key>
	<string>responseWithoutChain</string>
	<key>taskPerState</key>
	<string>effectVersusParameter</string>
	<key>vectorAmongJob</key>
	<string>capsuleThanNumber</string>
</dict>
</plist>
