<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyEventVelocity</key>
	<string>usecaseByDecorator</string>
	<key>entropyVersusParameter</key>
	<string>shaderAroundProxy</string>
	<key>graphIncludeEnvironment</key>
	<string>unsortedAnchorStyle</string>
	<key>injectionAlongComposite</key>
	<string>popupParamHue</string>
	<key>matrixMethodCenter</key>
	<string>localTickerType</string>
	<key>pageviewTypeHead</key>
	<string>projectionOutsideInterpreter</string>
	<key>protectedChapterRate</key>
	<string>localizationWithJob</string>
	<key>specifyShaderStatus</key>
	<string>specifyTickerTransparency</string>
	<key>variantJobCoord</key>
	<string>sizeCommandMargin</string>
</dict>
</plist>
