<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegatePrototypeShade</key>
	<string>interfacePlatformColor</string>
	<key>dependencyProcessSpacing</key>
	<string>previewSystemDelay</string>
	<key>graphSinceTemple</key>
	<string>bulletPerMediator</string>
	<key>hyperbolicBinaryType</key>
	<string>constStoreVisible</string>
	<key>overlaySystemRotation</key>
	<string>significantProviderScale</string>
	<key>providerModeIndex</key>
	<string>constResolverRight</string>
	<key>singletonMementoAcceleration</key>
	<string>grayscaleNearEnvironment</string>
	<key>stepDespiteKind</key>
	<string>spineParameterShade</string>
	<key>uniformRemainderColor</key>
	<string>bufferBesideType</string>
</dict>
</plist>
