<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionTypeName</key>
	<string>reusableMethodContrast</string>
	<key>discardedConstraintLeft</key>
	<string>activeTabviewOffset</string>
	<key>projectTypeVelocity</key>
	<string>sensorPrototypeAlignment</string>
	<key>repositorySystemBehavior</key>
	<string>alignmentOrForm</string>
</dict>
</plist>
