<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTopicCenter</key>
	<string>injectionJobBehavior</string>
	<key>baseCompositeEdge</key>
	<string>localizationBesideStyle</string>
	<key>curveVarVisible</key>
	<string>requestDespiteFacade</string>
	<key>gemIncludeFramework</key>
	<string>uniqueSegueResponse</string>
	<key>greatCubitResponse</key>
	<string>globalCanvasInset</string>
	<key>interactorFormInset</key>
	<string>hyperbolicSegueOrientation</string>
	<key>prismaticBulletSpacing</key>
	<string>entityParamAcceleration</string>
	<key>signBesideActivity</key>
	<string>lostTitleKind</string>
	<key>transitionBeyondType</key>
	<string>hashMementoAlignment</string>
	<key>widgetProcessDelay</key>
	<string>cupertinoWorkVelocity</string>
</dict>
</plist>
