<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSingletonLocation</key>
	<string>oldProfileVelocity</string>
	<key>columnTierSpeed</key>
	<string>boxPrototypeColor</string>
	<key>denseSliderCoord</key>
	<string>metadataVisitorSkewx</string>
	<key>greatConvolutionBottom</key>
	<string>gradientLayerName</string>
	<key>hardSkirtIndex</key>
	<string>columnFunctionTop</string>
	<key>primaryGridviewLeft</key>
	<string>denseDecorationLocation</string>
	<key>widgetProcessFeedback</key>
	<string>effectSinceObserver</string>
</dict>
</plist>
