<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionDecoratorTag</key>
	<string>materialCommandHead</string>
	<key>protectedGridAlignment</key>
	<string>eventDespiteFunction</string>
	<key>radioPerMode</key>
	<string>delegateThroughWork</string>
	<key>resourceMementoRight</key>
	<string>signOfFramework</string>
	<key>scaffoldModeFormat</key>
	<string>reductionWithContext</string>
	<key>sinePerStage</key>
	<string>animatedNibOrientation</string>
	<key>taskOrTier</key>
	<string>alignmentExceptMemento</string>
	<key>unaryBufferCoord</key>
	<string>heapAmongSingleton</string>
</dict>
</plist>
