<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationValueResponse</key>
	<string>controllerCompositeCenter</string>
	<key>listviewDecoratorShade</key>
	<string>activatedToolMomentum</string>
	<key>modelStateTheme</key>
	<string>rectPrototypeShape</string>
	<key>profileAdapterSaturation</key>
	<string>layoutAroundStage</string>
	<key>semanticsModeType</key>
	<string>protectedTextfieldVelocity</string>
	<key>spriteAmongType</key>
	<string>accessibleNibCenter</string>
	<key>tappableDependencyStatus</key>
	<string>storePhaseBorder</string>
	<key>widgetByStyle</key>
	<string>interactiveLocalizationName</string>
</dict>
</plist>
