<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletCompositeInterval</key>
	<string>localDependencyOpacity</string>
	<key>cartesianRouterDelay</key>
	<string>fusedMenuMomentum</string>
	<key>dimensionWithVisitor</key>
	<string>queryFunctionDensity</string>
	<key>globalProviderDistance</key>
	<string>operationNearParam</string>
	<key>interpolationPatternForce</key>
	<string>mediocreDurationVisibility</string>
	<key>isolateBridgeDistance</key>
	<string>curveSystemTag</string>
	<key>movementViaType</key>
	<string>fixedContainerDelay</string>
	<key>statefulResultType</key>
	<string>lazyIntegerMargin</string>
	<key>timerDuringCommand</key>
	<string>dynamicActionSkewy</string>
</dict>
</plist>
