<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSingletonInset</key>
	<string>streamByValue</string>
	<key>difficultCompleterAcceleration</key>
	<string>missedStreamTag</string>
	<key>disabledFutureSkewx</key>
	<string>lostEntropyDepth</string>
	<key>otherExponentDepth</key>
	<string>precisionSingletonFormat</string>
	<key>singleMemberName</key>
	<string>subsequentSegueBottom</string>
</dict>
</plist>
