<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPatternName</key>
	<string>sinkCommandTop</string>
	<key>characterByFacade</key>
	<string>alignmentInsideVariable</string>
	<key>ephemeralMobileMargin</key>
	<string>sampleSingletonDuration</string>
	<key>finalApertureKind</key>
	<string>invisibleLayerSize</string>
	<key>groupFromLayer</key>
	<string>deferredPlateDirection</string>
	<key>resolverExceptAction</key>
	<string>flexibleKernelMomentum</string>
	<key>subscriptionKindTail</key>
	<string>flexibleCollectionDepth</string>
	<key>subscriptionWithoutNumber</key>
	<string>backwardBinarySpeed</string>
</dict>
</plist>
