<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMetadataLocation</key>
	<string>oldViewRate</string>
	<key>interactorTierInset</key>
	<string>matrixSinceState</string>
	<key>kernelAboutStage</key>
	<string>logarithmMediatorIndex</string>
	<key>mobileBeyondTier</key>
	<string>indicatorObserverEdge</string>
	<key>unsortedGrainColor</key>
	<string>sineThroughDecorator</string>
</dict>
</plist>
