<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInTier</key>
	<string>contractionFormMode</string>
	<key>concurrentTaskEdge</key>
	<string>resultNearMediator</string>
	<key>intuitiveShaderBorder</key>
	<string>resolverWithoutSystem</string>
	<key>materialTaskRate</key>
	<string>materialRowLocation</string>
	<key>otherFutureShade</key>
	<string>singletonAtChain</string>
	<key>popupJobTail</key>
	<string>textPrototypeResponse</string>
	<key>routerDecoratorInterval</key>
	<string>commandDuringActivity</string>
	<key>sizedboxProxySpacing</key>
	<string>tableContextTint</string>
	<key>techniqueCycleAlignment</key>
	<string>swiftThanStrategy</string>
	<key>textSinceStage</key>
	<string>functionalLabelSkewx</string>
</dict>
</plist>
