<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousHandlerColor</key>
	<string>dedicatedNotifierSkewy</string>
	<key>binaryAwayMediator</key>
	<string>cellVarHue</string>
	<key>coordinatorExceptNumber</key>
	<string>prevBehaviorMomentum</string>
	<key>layoutDecoratorBottom</key>
	<string>transitionAsSingleton</string>
	<key>masterScopeOrientation</key>
	<string>viewSinceTask</string>
	<key>multiButtonSpacing</key>
	<string>lossThroughFunction</string>
	<key>specifyMethodIndex</key>
	<string>sharedAlertSpacing</string>
	<key>stateAboutProcess</key>
	<string>customDescriptorLocation</string>
</dict>
</plist>
