<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reducerFunctionInterval</key>
	<string>threadEnvironmentInterval</string>
	<key>resultThroughPlatform</key>
	<string>priorityForActivity</string>
	<key>sceneExceptMethod</key>
	<string>animationFromAdapter</string>
	<key>skinAmongParam</key>
	<string>durationAboutFunction</string>
	<key>viewAtLayer</key>
	<string>resourceInStructure</string>
</dict>
</plist>
