<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureOfType</key>
	<string>bulletContainProxy</string>
	<key>boxshadowByTemple</key>
	<string>cursorThanValue</string>
	<key>delicateShaderSaturation</key>
	<string>webCapacitiesVisible</string>
	<key>labelAlongStrategy</key>
	<string>mobxCompositeStatus</string>
	<key>musicForPrototype</key>
	<string>tweenLikeTier</string>
	<key>pinchableFragmentInteraction</key>
	<string>mobileMediatorOrientation</string>
	<key>scaffoldWorkBorder</key>
	<string>hashForObserver</string>
	<key>topicBridgeName</key>
	<string>coordinatorAndFlyweight</string>
	<key>vectorDespiteObserver</key>
	<string>asynchronousSubscriptionDistance</string>
</dict>
</plist>
