<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorJobSkewy</key>
	<string>synchronousChannelRotation</string>
	<key>managerAsTemple</key>
	<string>heroExceptLayer</string>
	<key>storeAsFacade</key>
	<string>commandPatternTransparency</string>
	<key>tweenShapeType</key>
	<string>sizeWorkFormat</string>
</dict>
</plist>
