<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferStateInterval</key>
	<string>reducerAgainstTask</string>
	<key>checklistDuringObserver</key>
	<string>iconTaskIndex</string>
	<key>normalKernelSkewy</key>
	<string>sortedCacheBrightness</string>
</dict>
</plist>
