<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateUnaryState</key>
	<string>boxshadowMementoScale</string>
	<key>priorityPrototypeVisible</key>
	<string>histogramLikeCycle</string>
	<key>providerWithEnvironment</key>
	<string>extensionPrototypeName</string>
	<key>referenceDuringChain</key>
	<string>relationalUsecaseMargin</string>
	<key>slashFormAlignment</key>
	<string>metadataOutsidePattern</string>
</dict>
</plist>
