<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackStyleMode</key>
	<string>mobxAndStage</string>
	<key>nativeAssetAppearance</key>
	<string>seamlessCapacitiesResponse</string>
	<key>reactiveFutureInset</key>
	<string>binaryPerVariable</string>
	<key>transitionActionBrightness</key>
	<string>interfaceLayerPosition</string>
	<key>usageTaskValidation</key>
	<string>cycleBufferBound</string>
</dict>
</plist>
