<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInsideAdapter</key>
	<string>handlerStructureTension</string>
	<key>entityIncludeState</key>
	<string>pivotalWorkflowPadding</string>
	<key>granularTernaryVelocity</key>
	<string>chapterTierMomentum</string>
	<key>painterScopeVisible</key>
	<string>declarativeGestureTint</string>
	<key>taskActionShade</key>
	<string>declarativeEffectForce</string>
	<key>usedCurveInteraction</key>
	<string>sinkEnvironmentTransparency</string>
</dict>
</plist>
