<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLoopMomentum</key>
	<string>titleCommandMomentum</string>
	<key>gemInterpreterShade</key>
	<string>graphKindMargin</string>
	<key>providerForTemple</key>
	<string>sustainableRemainderOffset</string>
</dict>
</plist>
