<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackModeHead</key>
	<string>constConstraintState</string>
	<key>disabledIsolateDuration</key>
	<string>gridCycleOrigin</string>
	<key>featureInsideContext</key>
	<string>geometricHeroRate</string>
	<key>gramViaMode</key>
	<string>loopProxyEdge</string>
	<key>intermediateSegueKind</key>
	<string>disabledAssetTint</string>
	<key>localCubitFrequency</key>
	<string>accordionDescriptionDistance</string>
	<key>mobxProxyRate</key>
	<string>publicSymbolBottom</string>
	<key>synchronousHeroTint</key>
	<string>sortedMediaqueryTheme</string>
	<key>variantBeyondFacade</key>
	<string>painterInKind</string>
</dict>
</plist>
