<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistInSystem</key>
	<string>zoneWithBridge</string>
	<key>constraintAlongVariable</key>
	<string>optimizerJobDelay</string>
	<key>controllerNearJob</key>
	<string>extensionSincePattern</string>
	<key>providerDecoratorBound</key>
	<string>globalMediaVisibility</string>
</dict>
</plist>
