<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasNearInterpreter</key>
	<string>constraintJobTail</string>
	<key>commandPerPattern</key>
	<string>hashDecoratorForce</string>
	<key>completerOfScope</key>
	<string>persistentSignatureInterval</string>
	<key>concreteStateOrientation</key>
	<string>specifyMenuSkewy</string>
	<key>difficultCompletionScale</key>
	<string>gemPatternSize</string>
	<key>persistentSignCount</key>
	<string>tabbarAsMemento</string>
	<key>protectedApertureBrightness</key>
	<string>uniqueInjectionTension</string>
	<key>usedSingletonOrientation</key>
	<string>subpixelByStage</string>
</dict>
</plist>
