<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateContextVisibility</key>
	<string>liteTangentBehavior</string>
	<key>chartScopeAlignment</key>
	<string>nodeNearFunction</string>
	<key>cubeProxySpeed</key>
	<string>spineVarSkewy</string>
	<key>easySliderAppearance</key>
	<string>mapFunctionFormat</string>
	<key>effectCompositeMargin</key>
	<string>timerForMediator</string>
	<key>ephemeralDurationDuration</key>
	<string>iterativeViewIndex</string>
	<key>nativeChannelSkewx</key>
	<string>animationViaStructure</string>
	<key>rectScopeBrightness</key>
	<string>observerAboutState</string>
	<key>tangentTempleForce</key>
	<string>missionBeyondNumber</string>
</dict>
</plist>
