<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionCompositeVisible</key>
	<string>inactiveAnimationOffset</string>
	<key>delegateMediatorIndex</key>
	<string>playbackActionOrientation</string>
	<key>desktopPriorityOrigin</key>
	<string>immutableMovementMargin</string>
	<key>futureAboutCycle</key>
	<string>futureInterpreterSaturation</string>
	<key>optimizerTaskFrequency</key>
	<string>grayscaleOrProxy</string>
	<key>respectiveBoxshadowScale</key>
	<string>textureVersusTier</string>
	<key>routeAtFacade</key>
	<string>granularObserverStyle</string>
	<key>subsequentTickerFormat</key>
	<string>lossBeyondBuffer</string>
	<key>uniformScreenTransparency</key>
	<string>numericalTransformerAcceleration</string>
</dict>
</plist>
