<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constMovementHue</key>
	<string>scaffoldStrategyKind</string>
	<key>consultativeUtilTop</key>
	<string>nativeRiverpodContrast</string>
	<key>flexibleDocumentPressure</key>
	<string>diffableTweenBorder</string>
	<key>handlerTypeLocation</key>
	<string>builderAwayPrototype</string>
	<key>oldAppbarFeedback</key>
	<string>playbackAdapterTop</string>
	<key>resourceForSingleton</key>
	<string>semanticMethodName</string>
	<key>threadEnvironmentSize</key>
	<string>advancedParticlePressure</string>
</dict>
</plist>
