<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionFormInteraction</key>
	<string>certificateAmongParam</string>
	<key>durationSinceBuffer</key>
	<string>tensorBuilderStyle</string>
	<key>firstListenerSpacing</key>
	<string>semanticBulletContrast</string>
	<key>graphicUntilParam</key>
	<string>grainFlyweightOrientation</string>
	<key>inkwellAtType</key>
	<string>pinchableNibScale</string>
	<key>sinkParamSkewy</key>
	<string>menuShapeHead</string>
	<key>sliderLikeNumber</key>
	<string>captionLikeParameter</string>
	<key>stateContainFunction</key>
	<string>configurationKindShape</string>
	<key>ternaryAtTask</key>
	<string>widgetAsActivity</string>
	<key>textfieldVarHue</key>
	<string>hierarchicalIconDelay</string>
</dict>
</plist>
