<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionContainFlyweight</key>
	<string>graphVariableTransparency</string>
	<key>custompaintFormOffset</key>
	<string>aspectratioNearAdapter</string>
	<key>entropyBridgeTint</key>
	<string>secondHeapVisible</string>
	<key>layerVersusSingleton</key>
	<string>globalAllocatorResponse</string>
	<key>managerStateTransparency</key>
	<string>singletonStructureOpacity</string>
	<key>pageviewIncludeParameter</key>
	<string>spriteInObserver</string>
	<key>repositoryFrameworkVelocity</key>
	<string>displayableProviderTension</string>
	<key>textAlongKind</key>
	<string>denseLoopOrientation</string>
	<key>unsortedSemanticsAlignment</key>
	<string>bulletContainState</string>
	<key>vectorSystemSkewy</key>
	<string>subscriptionVersusKind</string>
</dict>
</plist>
