<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFunctionFrequency</key>
	<string>timerKindOrientation</string>
	<key>animatedcontainerScopeSize</key>
	<string>routeForFlyweight</string>
	<key>bufferProcessRight</key>
	<string>captionBeyondShape</string>
	<key>concurrentInjectionCoord</key>
	<string>signatureSingletonSkewx</string>
	<key>injectionPatternCenter</key>
	<string>factoryAsProcess</string>
	<key>modelAndTemple</key>
	<string>responseDuringContext</string>
	<key>persistentEffectState</key>
	<string>builderThroughMode</string>
	<key>prevEqualizationDirection</key>
	<string>transformerOutsideLayer</string>
</dict>
</plist>
