<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertThroughBuffer</key>
	<string>associatedDrawerInteraction</string>
	<key>controllerMediatorTop</key>
	<string>lossByFacade</string>
	<key>featureSinceStructure</key>
	<string>overlayMediatorAcceleration</string>
	<key>listviewStructureInteraction</key>
	<string>effectInterpreterPadding</string>
	<key>precisionFunctionHue</key>
	<string>actionOperationPadding</string>
	<key>requestOfDecorator</key>
	<string>nativeConfigurationColor</string>
	<key>tableModeRight</key>
	<string>typicalLayerEdge</string>
	<key>usedImageCenter</key>
	<string>intensityWorkDepth</string>
</dict>
</plist>
