<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionSystemRotation</key>
	<string>mobxPlatformBottom</string>
	<key>elasticCurveDensity</key>
	<string>easyExponentFlags</string>
	<key>movementAtVariable</key>
	<string>standaloneTextureSpeed</string>
	<key>reductionEnvironmentCoord</key>
	<string>grayscaleDecoratorShape</string>
	<key>seamlessReducerFrequency</key>
	<string>temporaryEffectTint</string>
	<key>sizeAgainstFacade</key>
	<string>multiplicationInterpreterTheme</string>
	<key>ternaryLikeInterpreter</key>
	<string>viewAlongStage</string>
</dict>
</plist>
