<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSubpixelIndex</key>
	<string>bitrateObserverDensity</string>
	<key>graphAgainstAdapter</key>
	<string>instructionOutsideObserver</string>
	<key>modelThroughSystem</key>
	<string>binaryFrameworkDuration</string>
	<key>sizedboxSystemShape</key>
	<string>advancedMethodSkewx</string>
</dict>
</plist>
