<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerOrPlatform</key>
	<string>stackAdapterStatus</string>
	<key>cubeSystemFormat</key>
	<string>errorAdapterDirection</string>
	<key>prismaticScreenKind</key>
	<string>largeCapsuleState</string>
	<key>segueParamBottom</key>
	<string>usedLocalizationSize</string>
	<key>textVariableResponse</key>
	<string>notifierEnvironmentRotation</string>
</dict>
</plist>
