<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoAndFlyweight</key>
	<string>animationAwayStage</string>
	<key>documentAwayForm</key>
	<string>prismaticMethodSize</string>
	<key>gestureBeyondVisitor</key>
	<string>boxshadowOrBridge</string>
	<key>histogramVariablePosition</key>
	<string>navigatorLevelFeedback</string>
	<key>lostTitleValidation</key>
	<string>gridviewModeKind</string>
	<key>multiplicationObserverName</key>
	<string>liteContainerVisible</string>
	<key>robustLayoutSkewx</key>
	<string>materialIncludeMediator</string>
</dict>
</plist>
