<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardParticleForce</key>
	<string>brushLikeActivity</string>
	<key>containerBesidePrototype</key>
	<string>memberCommandOrigin</string>
	<key>equalizationLayerShade</key>
	<string>factoryVarStyle</string>
	<key>gridviewBeyondProxy</key>
	<string>euclideanActionType</string>
	<key>modulusFromNumber</key>
	<string>sinkAlongBridge</string>
</dict>
</plist>
