<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderExceptNumber</key>
	<string>nibWithFramework</string>
	<key>hardSegueDistance</key>
	<string>subtleInjectionDensity</string>
	<key>inactiveMetadataTransparency</key>
	<string>newestSingletonIndex</string>
	<key>textAlongBridge</key>
	<string>textfieldBeyondJob</string>
</dict>
</plist>
