<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAllocatorDelay</key>
	<string>transitionAmongSingleton</string>
	<key>compositionalCollectionVisible</key>
	<string>transitionPatternForce</string>
	<key>curveFlyweightBound</key>
	<string>semanticSinkCenter</string>
	<key>customizedGestureVelocity</key>
	<string>animatedcontainerLayerMomentum</string>
	<key>cycleNearPrototype</key>
	<string>interactivePriorityTransparency</string>
	<key>dedicatedLabelAppearance</key>
	<string>webAspectDuration</string>
	<key>gramObserverScale</key>
	<string>constStatefulHue</string>
	<key>injectionPrototypeSpeed</key>
	<string>offsetBeyondType</string>
	<key>injectionThroughScope</key>
	<string>roleFormTop</string>
	<key>multiCacheEdge</key>
	<string>modelAwayFramework</string>
</dict>
</plist>
