<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionParamShape</key>
	<string>listenerSinceAdapter</string>
	<key>arithmeticImageBound</key>
	<string>blocModeShade</string>
	<key>extensionThanStrategy</key>
	<string>disabledSizedboxTop</string>
	<key>mobileWithVisitor</key>
	<string>declarativeLossBrightness</string>
	<key>previewThroughActivity</key>
	<string>hierarchicalRemainderIndex</string>
	<key>repositoryInterpreterDistance</key>
	<string>effectCompositeLocation</string>
	<key>similarCupertinoDirection</key>
	<string>certificateNearContext</string>
	<key>vectorThanNumber</key>
	<string>gridviewAroundVariable</string>
</dict>
</plist>
