<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetIncludeSystem</key>
	<string>techniqueViaMemento</string>
	<key>decorationOperationFormat</key>
	<string>unactivatedIntensityAppearance</string>
	<key>fusedPositionedOrigin</key>
	<string>persistentModelPressure</string>
	<key>labelVisitorDistance</key>
	<string>localizationChainLeft</string>
	<key>missionDespiteKind</key>
	<string>cursorInMemento</string>
	<key>permanentBufferTop</key>
	<string>globalReferenceDensity</string>
	<key>previewLikeInterpreter</key>
	<string>stateFunctionShape</string>
	<key>sinkInsideShape</key>
	<string>globalColumnHead</string>
	<key>taskPhaseBottom</key>
	<string>roleFacadeCenter</string>
	<key>usedAspectratioFrequency</key>
	<string>finalStreamFormat</string>
</dict>
</plist>
