<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureFormSaturation</key>
	<string>contractionAsParam</string>
	<key>cellAlongPlatform</key>
	<string>semanticCallbackContrast</string>
	<key>controllerAsCycle</key>
	<string>tensorPlateOffset</string>
	<key>intuitiveWorkflowSpacing</key>
	<string>explicitCompositionOrientation</string>
	<key>labelVisitorRight</key>
	<string>handlerOutsideFramework</string>
	<key>listenerFromJob</key>
	<string>observerAwayMode</string>
	<key>radiusAboutPattern</key>
	<string>routeBufferKind</string>
	<key>signaturePatternDepth</key>
	<string>utilVisitorRotation</string>
	<key>slashVersusValue</key>
	<string>draggableEffectTransparency</string>
	<key>timerStateSpacing</key>
	<string>previewContextBorder</string>
</dict>
</plist>
