<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityMementoStyle</key>
	<string>channelNearMemento</string>
	<key>catalystFromStyle</key>
	<string>touchOfFlyweight</string>
	<key>crucialScrollDistance</key>
	<string>handlerIncludeType</string>
	<key>delegateMementoStatus</key>
	<string>numericalConstraintTail</string>
</dict>
</plist>
