<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveSignTransparency</key>
	<string>radiusAboutChain</string>
	<key>invisibleFeatureVisible</key>
	<string>popupTierSkewx</string>
	<key>layoutByFlyweight</key>
	<string>ignoredConfigurationDensity</string>
	<key>numericalFutureAppearance</key>
	<string>synchronousNavigationTension</string>
	<key>permanentMetadataShape</key>
	<string>capacitiesCommandTension</string>
	<key>pinchableTernaryDuration</key>
	<string>requiredDurationDistance</string>
	<key>transitionEnvironmentPressure</key>
	<string>positionLevelAlignment</string>
</dict>
</plist>
