<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistLayerOrientation</key>
	<string>signatureInStrategy</string>
	<key>independentPopupTransparency</key>
	<string>entityBufferDistance</string>
	<key>mutableTextfieldEdge</key>
	<string>builderVersusFramework</string>
	<key>switchAwayCycle</key>
	<string>riverpodStylePressure</string>
	<key>tickerAndAdapter</key>
	<string>futureInsideComposite</string>
</dict>
</plist>
