<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionAgainstSingleton</key>
	<string>signatureIncludeParameter</string>
	<key>granularConstraintPressure</key>
	<string>captionInStage</string>
	<key>managerInterpreterTransparency</key>
	<string>symmetricOverlayInterval</string>
	<key>positionBeyondType</key>
	<string>tangentWithStrategy</string>
	<key>presenterBridgeStatus</key>
	<string>comprehensiveSingletonRight</string>
	<key>presenterVarBorder</key>
	<string>iconNearMediator</string>
	<key>symbolLikeStrategy</key>
	<string>finalObserverDirection</string>
</dict>
</plist>
