<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLossName</key>
	<string>projectionAmongAdapter</string>
	<key>asynchronousTextFormat</key>
	<string>riverpodJobCoord</string>
	<key>lostAnimatedcontainerEdge</key>
	<string>effectExceptNumber</string>
	<key>managerProxyOpacity</key>
	<string>enabledAppbarTop</string>
	<key>queryIncludeSystem</key>
	<string>actionContextVelocity</string>
	<key>unaryPlatformType</key>
	<string>modelTempleTail</string>
</dict>
</plist>
