<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPlatformSpacing</key>
	<string>descriptionDespiteAction</string>
	<key>heapProcessBound</key>
	<string>repositoryFormContrast</string>
	<key>iterativeViewMode</key>
	<string>chartCompositeRotation</string>
	<key>layoutVisitorVisible</key>
	<string>extensionBeyondEnvironment</string>
	<key>protectedChapterVelocity</key>
	<string>baselineStageRate</string>
	<key>repositoryVersusStyle</key>
	<string>imperativeAssetValidation</string>
	<key>sceneViaAction</key>
	<string>errorFlyweightColor</string>
	<key>spotInPhase</key>
	<string>characterContainLevel</string>
</dict>
</plist>
