<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocSystemColor</key>
	<string>layoutExceptMediator</string>
	<key>mediaqueryAwayAdapter</key>
	<string>swiftAlongParam</string>
	<key>overlayKindBottom</key>
	<string>commonStorageHue</string>
	<key>servicePerSingleton</key>
	<string>immutableAlignmentTransparency</string>
	<key>sinkSingletonInteraction</key>
	<string>originalReducerTop</string>
</dict>
</plist>
