<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxySpacing</key>
	<string>chartFunctionSkewx</string>
	<key>anchorVariableForce</key>
	<string>textParamTension</string>
	<key>directAllocatorRate</key>
	<string>screenTempleOrigin</string>
	<key>entropyFrameworkCenter</key>
	<string>tickerSingletonOffset</string>
	<key>inheritedRowMode</key>
	<string>animatedcontainerNumberOffset</string>
	<key>interfaceParamDuration</key>
	<string>streamAroundTier</string>
	<key>labelBufferCount</key>
	<string>widgetInsideLayer</string>
	<key>masterVersusMethod</key>
	<string>groupExceptObserver</string>
	<key>mutableCursorLocation</key>
	<string>resultForChain</string>
	<key>progressbarActionForce</key>
	<string>histogramContainVariable</string>
</dict>
</plist>
