<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSensorKind</key>
	<string>effectDespiteLayer</string>
	<key>capacitiesExceptPrototype</key>
	<string>decorationObserverColor</string>
	<key>configurationAlongFacade</key>
	<string>viewMementoCount</string>
	<key>curveAlongShape</key>
	<string>sophisticatedThemeFormat</string>
	<key>grayscaleViaCycle</key>
	<string>intermediateNodeFormat</string>
	<key>mobileInjectionTheme</key>
	<string>criticalSampleFormat</string>
	<key>nodeContextFormat</key>
	<string>opaqueTransitionSpeed</string>
	<key>prevExceptionIndex</key>
	<string>operationContextBorder</string>
	<key>sequentialExpandedType</key>
	<string>routePrototypeAcceleration</string>
	<key>significantChapterKind</key>
	<string>listviewStageForce</string>
</dict>
</plist>
