<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxActivityMomentum</key>
	<string>independentAwaitOrigin</string>
	<key>comprehensiveCacheBehavior</key>
	<string>sequentialRectPosition</string>
	<key>localizationAwayVisitor</key>
	<string>liteStorageLocation</string>
	<key>matrixSingletonSaturation</key>
	<string>nativeProviderKind</string>
	<key>subtleTitleFrequency</key>
	<string>gestureCompositeAcceleration</string>
</dict>
</plist>
