<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSubscriptionColor</key>
	<string>asyncPlatformCount</string>
	<key>buttonVarPressure</key>
	<string>gateAlongCommand</string>
	<key>remainderIncludeStyle</key>
	<string>sliderChainVisible</string>
	<key>subsequentSingletonState</key>
	<string>skirtDuringVisitor</string>
	<key>uniqueIntensityBehavior</key>
	<string>crudeIntensityValidation</string>
</dict>
</plist>
