<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveLayoutDepth</key>
	<string>consumerFrameworkRate</string>
	<key>discardedSliderInset</key>
	<string>dimensionFromFunction</string>
	<key>mediumMetadataVisible</key>
	<string>retainedGridSkewx</string>
	<key>presenterFromState</key>
	<string>compositionCycleAlignment</string>
	<key>sharedVariantMode</key>
	<string>grainUntilTask</string>
</dict>
</plist>
