<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleFlyweightPressure</key>
	<string>containerEnvironmentShape</string>
	<key>diversifiedGramVisibility</key>
	<string>asyncCycleVelocity</string>
	<key>easyQueryTop</key>
	<string>listenerStrategyInset</string>
	<key>resilientIntegerPadding</key>
	<string>inheritedRouteVisible</string>
	<key>smallConvolutionKind</key>
	<string>queuePlatformBound</string>
</dict>
</plist>
