<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonDecoratorForce</key>
	<string>smartBuilderTransparency</string>
	<key>chartActionState</key>
	<string>multiParticleDuration</string>
	<key>opaqueBaseSpacing</key>
	<string>smallLogOrigin</string>
	<key>prevTitleOrigin</key>
	<string>unaryCommandOpacity</string>
	<key>routeFromStage</key>
	<string>challengeVersusDecorator</string>
	<key>similarNodeInterval</key>
	<string>relationalInterfaceOrigin</string>
	<key>statefulStorageKind</key>
	<string>ternaryInterpreterBound</string>
	<key>tangentPrototypeInteraction</key>
	<string>buttonJobDistance</string>
</dict>
</plist>
