<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticNavigatorSkewy</key>
	<string>workflowNumberFeedback</string>
	<key>capacitiesStateAppearance</key>
	<string>gradientDespiteVisitor</string>
	<key>errorAboutDecorator</key>
	<string>zoneFormTheme</string>
	<key>frameSincePattern</key>
	<string>visibleSceneFormat</string>
	<key>prevProjectPressure</key>
	<string>cellValueKind</string>
	<key>sizedboxUntilObserver</key>
	<string>liteQueueState</string>
</dict>
</plist>
