<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileToolSize</key>
	<string>originalTransformerStyle</string>
	<key>aspectPhaseScale</key>
	<string>nativeDecorationFlags</string>
	<key>crucialStatefulCoord</key>
	<string>serviceInVisitor</string>
	<key>gatePhaseTail</key>
	<string>scrollableAsyncSkewy</string>
	<key>graphOrEnvironment</key>
	<string>inactiveVectorFormat</string>
	<key>missedInterfaceBottom</key>
	<string>offsetLikeStyle</string>
	<key>requiredTextureSkewy</key>
	<string>fragmentAwayValue</string>
	<key>sharedOffsetStyle</key>
	<string>shaderUntilStage</string>
	<key>subtleFeatureOpacity</key>
	<string>standaloneCubitHead</string>
</dict>
</plist>
