<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseDuringObserver</key>
	<string>behaviorFlyweightFlags</string>
	<key>controllerAlongMediator</key>
	<string>referenceForBuffer</string>
	<key>decorationTierCount</key>
	<string>imageAtInterpreter</string>
	<key>enabledZoneLocation</key>
	<string>aspectPerState</string>
	<key>fusedAwaitFormat</key>
	<string>columnInterpreterHue</string>
	<key>tweenAsShape</key>
	<string>borderOutsidePrototype</string>
</dict>
</plist>
