<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyVariableVisibility</key>
	<string>unsortedCallbackRate</string>
	<key>nibInsideLayer</key>
	<string>localizationNearProcess</string>
	<key>progressbarSingletonTransparency</key>
	<string>captionPerVisitor</string>
</dict>
</plist>
