<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentViaBuffer</key>
	<string>baselineNumberOpacity</string>
	<key>certificateProcessContrast</key>
	<string>actionOfType</string>
	<key>diversifiedDependencyAlignment</key>
	<string>resultPrototypeBehavior</string>
	<key>sizeDecoratorRotation</key>
	<string>frameDespiteProcess</string>
</dict>
</plist>
