<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFunctionOffset</key>
	<string>publicBulletMargin</string>
	<key>commandStyleMomentum</key>
	<string>routePatternBehavior</string>
	<key>deferredKernelInteraction</key>
	<string>decorationModeDistance</string>
	<key>diversifiedDrawerTheme</key>
	<string>screenPatternHead</string>
	<key>gateAlongFlyweight</key>
	<string>largeCoordinatorResponse</string>
	<key>missedBulletOrientation</key>
	<string>mediumDrawerSaturation</string>
	<key>paddingChainKind</key>
	<string>catalystVersusStrategy</string>
	<key>requestInPlatform</key>
	<string>declarativeTangentOffset</string>
	<key>topicAboutCommand</key>
	<string>topicOrActivity</string>
	<key>vectorOrPlatform</key>
	<string>playbackPatternDistance</string>
</dict>
</plist>
