<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerObserverFrequency</key>
	<string>hyperbolicBoxResponse</string>
	<key>desktopModelValidation</key>
	<string>gramFunctionLeft</string>
	<key>logTypeFeedback</key>
	<string>newestSubscriptionBorder</string>
	<key>matrixContextMargin</key>
	<string>discardedMasterSpacing</string>
	<key>multiplicationBesideNumber</key>
	<string>animationPhaseInset</string>
	<key>observerAlongProxy</key>
	<string>accordionObserverHead</string>
	<key>previewPrototypeHue</key>
	<string>opaqueCoordinatorBorder</string>
</dict>
</plist>
