<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileGestureTail</key>
	<string>sceneCommandStyle</string>
	<key>retainedSceneTint</key>
	<string>futureExceptJob</string>
	<key>sequentialIndicatorSkewy</key>
	<string>eventTempleRotation</string>
	<key>spineOrPattern</key>
	<string>alertOfState</string>
	<key>staticAspectratioCount</key>
	<string>temporaryInkwellBottom</string>
	<key>textAdapterBound</key>
	<string>durationDespiteChain</string>
</dict>
</plist>
