<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianCheckboxSize</key>
	<string>errorInShape</string>
	<key>controllerAtSingleton</key>
	<string>substantialCallbackMomentum</string>
	<key>diffableCurveCoord</key>
	<string>viewViaMethod</string>
	<key>euclideanLabelMode</key>
	<string>sensorAmongState</string>
	<key>graphBeyondTask</key>
	<string>fragmentLikeContext</string>
	<key>navigatorInFacade</key>
	<string>tweenFacadeSaturation</string>
	<key>observerOperationIndex</key>
	<string>permissiveSingletonSpacing</string>
	<key>requestWithoutDecorator</key>
	<string>subscriptionAsValue</string>
</dict>
</plist>
