<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncScopeName</key>
	<string>sliderForLayer</string>
	<key>constraintContainEnvironment</key>
	<string>transitionWithoutLayer</string>
	<key>diversifiedSkinTension</key>
	<string>animationPlatformStyle</string>
	<key>exponentSingletonInset</key>
	<string>visibleAsyncTag</string>
	<key>futureAndLevel</key>
	<string>optionFromFramework</string>
	<key>nibWithoutStage</key>
	<string>groupActivityRate</string>
	<key>standaloneChannelCoord</key>
	<string>similarResolverSkewy</string>
	<key>themeFlyweightDensity</key>
	<string>bufferAtMethod</string>
</dict>
</plist>
