<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxOutsideVisitor</key>
	<string>routerMediatorColor</string>
	<key>boxshadowFrameworkOrientation</key>
	<string>hierarchicalSizedboxDistance</string>
	<key>immutableSpineAcceleration</key>
	<string>respectiveSegmentSkewy</string>
	<key>isolateVisitorDuration</key>
	<string>activeGroupDepth</string>
	<key>parallelMusicHead</key>
	<string>particleProcessCoord</string>
	<key>sceneWithStage</key>
	<string>widgetNearAdapter</string>
</dict>
</plist>
