<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainVariableCoord</key>
	<string>challengeFormFlags</string>
	<key>otherDurationShade</key>
	<string>layerParamFlags</string>
	<key>reducerNumberBrightness</key>
	<string>protectedWidgetState</string>
	<key>relationalIntensityOrigin</key>
	<string>constraintProxyBorder</string>
	<key>skinContainType</key>
	<string>collectionMethodSize</string>
	<key>synchronousAnimationMode</key>
	<string>listenerThanInterpreter</string>
</dict>
</plist>
