<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelNumberDuration</key>
	<string>menuOrTask</string>
	<key>clipperKindOrientation</key>
	<string>viewDespiteChain</string>
	<key>delegateLikeVar</key>
	<string>dynamicEqualizationState</string>
	<key>disabledBatchTension</key>
	<string>priorityVisitorStyle</string>
	<key>flexObserverInset</key>
	<string>curvePatternTail</string>
	<key>localMenuOrientation</key>
	<string>ignoredUtilShade</string>
	<key>modulusAlongParam</key>
	<string>painterContainJob</string>
	<key>monsterAwayOperation</key>
	<string>listenerParamDelay</string>
	<key>paddingWorkHue</key>
	<string>signModePosition</string>
</dict>
</plist>
