<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCommandRotation</key>
	<string>logarithmStageTint</string>
	<key>fusedDependencyTransparency</key>
	<string>layoutStageVisible</string>
	<key>mutableOperationSpacing</key>
	<string>captionStructureHue</string>
	<key>nativeTimerShade</key>
	<string>expandedAmongAction</string>
	<key>normalChannelTheme</key>
	<string>slashFacadeMargin</string>
	<key>notifierLikeBridge</key>
	<string>completerModeMode</string>
	<key>particleOrActivity</key>
	<string>cartesianPointBrightness</string>
</dict>
</plist>
