<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerDespiteWork</key>
	<string>nibContextCoord</string>
	<key>delegateKindFrequency</key>
	<string>resolverProcessSaturation</string>
	<key>listenerSingletonTransparency</key>
	<string>transitionViaCommand</string>
	<key>reusableChartInterval</key>
	<string>chapterContainProxy</string>
</dict>
</plist>
