<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSkinBehavior</key>
	<string>builderBufferAppearance</string>
	<key>hashShapeTail</key>
	<string>eventLayerFrequency</string>
	<key>missedInjectionDuration</key>
	<string>tabbarInPhase</string>
	<key>modulusAtMediator</key>
	<string>stateContextOrigin</string>
	<key>referenceOrParam</key>
	<string>layerFlyweightOrientation</string>
</dict>
</plist>
