<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileControllerStyle</key>
	<string>semanticsTaskSize</string>
	<key>beginnerResultFormat</key>
	<string>callbackStrategyBehavior</string>
	<key>collectionAtStage</key>
	<string>navigatorAdapterKind</string>
	<key>controllerPlatformSpacing</key>
	<string>builderSinceWork</string>
	<key>cubeWithoutType</key>
	<string>anchorThanTask</string>
	<key>delicateCycleFlags</key>
	<string>sinkCycleColor</string>
	<key>euclideanLoopShade</key>
	<string>activityStructureIndex</string>
	<key>localizationStructureSkewy</key>
	<string>themeAsKind</string>
	<key>swiftActivityDelay</key>
	<string>projectOfComposite</string>
	<key>taskAmongSystem</key>
	<string>layoutLikeChain</string>
</dict>
</plist>
