<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAtJob</key>
	<string>publicCursorBrightness</string>
	<key>containerAboutObserver</key>
	<string>grayscaleVariableBottom</string>
	<key>dimensionAlongVariable</key>
	<string>boxshadowBeyondObserver</string>
	<key>hierarchicalDimensionLeft</key>
	<string>streamInterpreterTag</string>
	<key>particleBesideCommand</key>
	<string>cursorLikeKind</string>
	<key>sceneForBridge</key>
	<string>commandDecoratorIndex</string>
</dict>
</plist>
