<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineSinceFunction</key>
	<string>sensorAboutProxy</string>
	<key>imperativeListenerTail</key>
	<string>callbackFromTask</string>
	<key>mediaContainPlatform</key>
	<string>shaderDuringProxy</string>
	<key>normalNavigatorPosition</key>
	<string>gridviewExceptCommand</string>
	<key>protocolInterpreterTheme</key>
	<string>eventUntilMemento</string>
	<key>sineThroughTier</key>
	<string>localizationVarCount</string>
</dict>
</plist>
