<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedCommandVisibility</key>
	<string>scaffoldUntilVariable</string>
	<key>hierarchicalCosineCoord</key>
	<string>kernelOrProcess</string>
	<key>labelWithoutTemple</key>
	<string>rectStateName</string>
	<key>layoutBridgeLocation</key>
	<string>buttonLikeComposite</string>
	<key>reusableSensorSaturation</key>
	<string>pinchableCommandBorder</string>
	<key>touchOutsideStructure</key>
	<string>standaloneDurationOffset</string>
</dict>
</plist>
