<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioProxyRate</key>
	<string>unsortedDecorationBehavior</string>
	<key>baselineTempleBottom</key>
	<string>standaloneGiftBottom</string>
	<key>bufferForTemple</key>
	<string>routeStrategyIndex</string>
	<key>entityAlongParam</key>
	<string>notificationThanJob</string>
	<key>mediumIndicatorBehavior</key>
	<string>viewSinceMode</string>
	<key>semanticsParamHead</key>
	<string>sampleCycleHead</string>
	<key>textUntilValue</key>
	<string>specifierTierIndex</string>
</dict>
</plist>
