<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFutureMode</key>
	<string>subsequentHandlerTension</string>
	<key>ephemeralButtonCenter</key>
	<string>autoIntensityTag</string>
	<key>euclideanMultiplicationLocation</key>
	<string>futureFromStyle</string>
	<key>featureFromBridge</key>
	<string>lastTransitionTransparency</string>
	<key>firstFactoryTension</key>
	<string>serviceFunctionSpacing</string>
	<key>independentAlignmentCenter</key>
	<string>concurrentOptimizerShade</string>
	<key>lastQueueRotation</key>
	<string>nodeBeyondFacade</string>
	<key>notifierStyleCenter</key>
	<string>dropdownbuttonVariableFlags</string>
	<key>operationPatternTheme</key>
	<string>prevControllerVelocity</string>
	<key>relationalSignStatus</key>
	<string>originalObserverAppearance</string>
</dict>
</plist>
