<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerPhaseTop</key>
	<string>kernelFormPadding</string>
	<key>constraintContainCommand</key>
	<string>directlySpriteBorder</string>
	<key>effectBeyondParameter</key>
	<string>queryOutsideTier</string>
	<key>grayscaleLevelTransparency</key>
	<string>batchChainFormat</string>
	<key>mainRouterIndex</key>
	<string>resolverPhaseSkewx</string>
	<key>toolMementoBehavior</key>
	<string>responsiveMissionDuration</string>
	<key>unactivatedAllocatorScale</key>
	<string>currentAlertState</string>
	<key>widgetPerPrototype</key>
	<string>channelWithChain</string>
</dict>
</plist>
