<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuNearJob</key>
	<string>rowDecoratorType</string>
	<key>providerMementoFormat</key>
	<string>challengeCycleScale</string>
	<key>stateEnvironmentDirection</key>
	<string>sophisticatedAssetTag</string>
</dict>
</plist>
