<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAroundStage</key>
	<string>signParameterStyle</string>
	<key>constraintNearScope</key>
	<string>missedRiverpodResponse</string>
	<key>futureFlyweightInset</key>
	<string>presenterPerAction</string>
	<key>specifyActionAlignment</key>
	<string>topicFrameworkDuration</string>
	<key>tickerExceptActivity</key>
	<string>futureOperationLeft</string>
</dict>
</plist>
