<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentNavigatorTransparency</key>
	<string>globalGrayscaleSpacing</string>
	<key>displayableRectDensity</key>
	<string>radiusAboutMethod</string>
	<key>heapAlongSingleton</key>
	<string>accessoryBesideMediator</string>
	<key>instructionPerActivity</key>
	<string>statefulUtilValidation</string>
	<key>kernelProxyDistance</key>
	<string>positionVersusMediator</string>
	<key>keyMultiplicationDistance</key>
	<string>painterScopeEdge</string>
	<key>nibAwayPattern</key>
	<string>tweenCycleBrightness</string>
	<key>tabbarAmongVisitor</key>
	<string>histogramStrategyBottom</string>
</dict>
</plist>
