<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modalVariableRotation</key>
	<string>decorationProcessPressure</string>
	<key>petParameterTheme</key>
	<string>asyncUntilActivity</string>
	<key>popupPerScope</key>
	<string>errorSingletonVisible</string>
	<key>toolAsVisitor</key>
	<string>animationAboutTask</string>
</dict>
</plist>
