<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBesidePhase</key>
	<string>missedExceptionAppearance</string>
	<key>associatedSliderFormat</key>
	<string>exponentDuringJob</string>
	<key>baseAlongMemento</key>
	<string>taskSingletonCount</string>
	<key>completerMediatorFrequency</key>
	<string>arithmeticByObserver</string>
	<key>delegateAboutStyle</key>
	<string>prismaticSensorEdge</string>
	<key>futureOrTier</key>
	<string>robustTextState</string>
	<key>grayscaleWithoutSingleton</key>
	<string>layoutDecoratorCount</string>
	<key>kernelPerValue</key>
	<string>spineAwayValue</string>
	<key>primaryRowOrigin</key>
	<string>queueExceptState</string>
</dict>
</plist>
