<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyAroundFunction</key>
	<string>sliderAwayInterpreter</string>
	<key>interactorMementoSkewx</key>
	<string>scrollLevelTransparency</string>
	<key>protectedApertureValidation</key>
	<string>queryLikeSingleton</string>
	<key>subpixelViaStructure</key>
	<string>movementVersusMemento</string>
	<key>symmetricNavigationLocation</key>
	<string>resultChainFrequency</string>
</dict>
</plist>
