<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionNearMemento</key>
	<string>blocLayerTail</string>
	<key>awaitProxyDirection</key>
	<string>mutableTitleInterval</string>
	<key>cyclePerShape</key>
	<string>activityOutsideFunction</string>
	<key>explicitAxisBorder</key>
	<string>cubitParamOffset</string>
	<key>mobileVersusActivity</key>
	<string>stackParamVisible</string>
	<key>resourceAroundProxy</key>
	<string>channelsCommandIndex</string>
	<key>semanticStreamMargin</key>
	<string>advancedQueueCoord</string>
	<key>textureThanTemple</key>
	<string>expandedSinceState</string>
	<key>uniformProjectDensity</key>
	<string>reductionWorkVisibility</string>
</dict>
</plist>
