<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintExceptComposite</key>
	<string>unactivatedAnimatedcontainerTint</string>
	<key>materialFacadeOrigin</key>
	<string>chapterJobDepth</string>
	<key>nodeOutsideLayer</key>
	<string>drawerAmongOperation</string>
	<key>protectedDescriptionEdge</key>
	<string>coordinatorThroughJob</string>
	<key>responsiveCanvasOpacity</key>
	<string>canvasWithoutTemple</string>
	<key>sharedChecklistColor</key>
	<string>marginForPattern</string>
</dict>
</plist>
