<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionActionInset</key>
	<string>consumerCompositeSkewy</string>
	<key>cupertinoLikeScope</key>
	<string>geometricWidgetVisibility</string>
	<key>currentTaskRight</key>
	<string>viewVisitorKind</string>
	<key>gridParameterOrientation</key>
	<string>protectedCanvasAcceleration</string>
	<key>textLayerStatus</key>
	<string>textureChainVisibility</string>
	<key>uniformAxisPadding</key>
	<string>directlyTabbarFeedback</string>
	<key>uniqueErrorColor</key>
	<string>clipperObserverInteraction</string>
</dict>
</plist>
