<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertSystemTag</key>
	<string>agileDropdownbuttonTag</string>
	<key>coordinatorBeyondOperation</key>
	<string>dependencyUntilDecorator</string>
	<key>expandedFlyweightScale</key>
	<string>offsetVarInterval</string>
	<key>liteBitrateLeft</key>
	<string>groupThroughWork</string>
	<key>navigationAroundTier</key>
	<string>routerAroundFunction</string>
	<key>navigatorObserverPadding</key>
	<string>requiredTouchTail</string>
	<key>seguePerStrategy</key>
	<string>providerDuringCommand</string>
	<key>symbolDecoratorStatus</key>
	<string>entropyBufferScale</string>
</dict>
</plist>
