<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionContainStrategy</key>
	<string>mutableBoxshadowSkewy</string>
	<key>currentTitleTransparency</key>
	<string>subsequentSignatureBorder</string>
	<key>grainWithoutPattern</key>
	<string>interactorAtPrototype</string>
	<key>screenShapeRate</key>
	<string>sustainableKernelDistance</string>
</dict>
</plist>
