<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAdapterBound</key>
	<string>queueCompositeContrast</string>
	<key>semanticButtonFrequency</key>
	<string>consumerFunctionAcceleration</string>
	<key>techniqueTierBorder</key>
	<string>normNumberFrequency</string>
</dict>
</plist>
