<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAndSystem</key>
	<string>alphaAboutVariable</string>
	<key>delegatePatternDirection</key>
	<string>sliderPrototypeMomentum</string>
	<key>geometricSpriteOpacity</key>
	<string>resizableWorkflowBrightness</string>
	<key>gesturedetectorBeyondComposite</key>
	<string>nodeVersusMethod</string>
	<key>previewScopeSpacing</key>
	<string>publicInstructionPadding</string>
</dict>
</plist>
