<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityStructureEdge</key>
	<string>modelCompositeSkewx</string>
	<key>mutableBaselineMode</key>
	<string>dedicatedPlateTint</string>
	<key>offsetLayerAcceleration</key>
	<string>interfaceUntilMode</string>
	<key>resilientTextVelocity</key>
	<string>customizedCapacitiesTint</string>
	<key>taskProcessOpacity</key>
	<string>graphicAroundStyle</string>
</dict>
</plist>
