<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveMethodLeft</key>
	<string>precisionStageStatus</string>
	<key>immediateMobileOpacity</key>
	<string>grayscaleBesidePlatform</string>
	<key>temporaryTitleResponse</key>
	<string>dropdownbuttonStyleStyle</string>
	<key>textActionVisible</key>
	<string>certificateOrForm</string>
</dict>
</plist>
