<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileLayoutRotation</key>
	<string>newestTaskInset</string>
	<key>coordinatorThanMode</key>
	<string>transformerDecoratorPadding</string>
	<key>durationWithCommand</key>
	<string>cosineAndStructure</string>
	<key>layerAdapterFeedback</key>
	<string>displayableGradientInteraction</string>
	<key>navigatorAmongSystem</key>
	<string>mediaqueryFrameworkTag</string>
	<key>shaderContextSaturation</key>
	<string>statefulCursorPressure</string>
	<key>switchViaFacade</key>
	<string>topicWithoutBuffer</string>
	<key>textfieldWithoutFunction</key>
	<string>localizationLevelSkewx</string>
	<key>topicFormBrightness</key>
	<string>navigatorAgainstPlatform</string>
	<key>zoneProcessLocation</key>
	<string>profileWorkEdge</string>
</dict>
</plist>
