<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableIntensityVisible</key>
	<string>optionThanValue</string>
	<key>dialogsEnvironmentOffset</key>
	<string>enabledExpandedTheme</string>
	<key>graphOutsideForm</key>
	<string>cubitAroundSingleton</string>
	<key>prevQuerySize</key>
	<string>rowVariableSkewy</string>
	<key>serviceAgainstCommand</key>
	<string>clipperProxySize</string>
	<key>sophisticatedPlaybackBorder</key>
	<string>ignoredAlphaType</string>
	<key>spriteAmongValue</key>
	<string>navigationForChain</string>
	<key>unaryAboutInterpreter</key>
	<string>functionalDecorationFormat</string>
</dict>
</plist>
