<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticConfigurationDelay</key>
	<string>exceptionPlatformDensity</string>
	<key>builderDespiteType</key>
	<string>titleWithoutProcess</string>
	<key>contractionDecoratorStatus</key>
	<string>playbackOutsideState</string>
	<key>denseNormOrigin</key>
	<string>documentParamInset</string>
	<key>globalSliderName</key>
	<string>subtleGrayscaleTag</string>
	<key>nextBehaviorOpacity</key>
	<string>materialParticleName</string>
	<key>priorityAlongKind</key>
	<string>sceneBeyondVariable</string>
	<key>tappableMapSkewy</key>
	<string>finalMasterTail</string>
</dict>
</plist>
