<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorObserverShape</key>
	<string>consumerActivityShade</string>
	<key>directDescriptorContrast</key>
	<string>providerStageFlags</string>
	<key>isolateThanStyle</key>
	<string>finalStateDirection</string>
	<key>widgetEnvironmentPressure</key>
	<string>geometricRouteVisible</string>
</dict>
</plist>
