<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveTextStatus</key>
	<string>protectedResourceValidation</string>
	<key>consumerInStyle</key>
	<string>logFunctionSkewx</string>
	<key>equalizationExceptContext</key>
	<string>similarCheckboxKind</string>
	<key>expandedAdapterVelocity</key>
	<string>persistentToolType</string>
	<key>labelStructureInterval</key>
	<string>navigationVariableFlags</string>
	<key>viewVarTag</key>
	<string>rapidMaterialShape</string>
</dict>
</plist>
