<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBridgePadding</key>
	<string>channelsKindDuration</string>
	<key>animatedcontainerLayerTheme</key>
	<string>delegateAmongEnvironment</string>
	<key>awaitProxyIndex</key>
	<string>dropdownbuttonAroundVisitor</string>
	<key>channelAwayParameter</key>
	<string>cacheByStage</string>
	<key>coordinatorViaDecorator</key>
	<string>transitionAndCommand</string>
	<key>greatSignatureAppearance</key>
	<string>tableCyclePadding</string>
	<key>persistentProjectLeft</key>
	<string>resourceProcessRight</string>
	<key>skirtChainCount</key>
	<string>documentContainKind</string>
</dict>
</plist>
