<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorDespiteDecorator</key>
	<string>deferredGrayscalePadding</string>
	<key>graphPrototypeOrigin</key>
	<string>nextUsageSpacing</string>
	<key>menuParamEdge</key>
	<string>sinkVersusKind</string>
	<key>navigationDespiteProxy</key>
	<string>expandedParameterRight</string>
	<key>sliderCompositeVisibility</key>
	<string>responseNearChain</string>
	<key>smartGridviewOpacity</key>
	<string>dependencyInsideLayer</string>
</dict>
</plist>
