<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicatePositionedForce</key>
	<string>captionThanStructure</string>
	<key>overlayBufferPressure</key>
	<string>serviceCompositeBottom</string>
	<key>pinchableAlertBound</key>
	<string>pivotalOptionBorder</string>
	<key>prismaticMonsterFrequency</key>
	<string>localizationPerChain</string>
	<key>responseByTemple</key>
	<string>richtextCommandStyle</string>
	<key>ternaryStyleIndex</key>
	<string>radioFlyweightLocation</string>
</dict>
</plist>
