<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateStateColor</key>
	<string>staticMarginDepth</string>
	<key>mediumTopicOffset</key>
	<string>opaqueActionFormat</string>
	<key>nodeStageDirection</key>
	<string>titleStageState</string>
	<key>permanentTransitionAlignment</key>
	<string>euclideanFlexHue</string>
	<key>popupContainProxy</key>
	<string>capacitiesInShape</string>
	<key>prismaticViewFeedback</key>
	<string>nodeVersusFramework</string>
	<key>requestOfSingleton</key>
	<string>viewScopeEdge</string>
	<key>semanticAspectOffset</key>
	<string>webFrameAcceleration</string>
</dict>
</plist>
