<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionFromVisitor</key>
	<string>graphForInterpreter</string>
	<key>composableCustompaintSpeed</key>
	<string>denseVectorSpacing</string>
	<key>lastLoopInset</key>
	<string>expandedActionSpacing</string>
	<key>liteLayerVisibility</key>
	<string>tangentFormMargin</string>
	<key>localUnaryTag</key>
	<string>actionLayerColor</string>
	<key>logarithmMethodLocation</key>
	<string>textUntilParameter</string>
	<key>mediaqueryViaTemple</key>
	<string>batchFrameworkFeedback</string>
	<key>pivotalCursorAppearance</key>
	<string>commonVectorShape</string>
	<key>threadStrategyOrigin</key>
	<string>injectionWithoutStructure</string>
	<key>webBoxEdge</key>
	<string>protectedSceneBorder</string>
</dict>
</plist>
