<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesDespiteMode</key>
	<string>previewTempleSpacing</string>
	<key>compositionalDrawerResponse</key>
	<string>methodStructureShape</string>
	<key>notificationLevelVisibility</key>
	<string>marginOfContext</string>
	<key>presenterOutsideChain</key>
	<string>robustStoreSkewy</string>
	<key>reusableContractionInterval</key>
	<string>positionMediatorOffset</string>
	<key>sceneMediatorScale</key>
	<string>keyAllocatorValidation</string>
	<key>sizeOrProcess</key>
	<string>ternaryPerSystem</string>
	<key>titleOrStage</key>
	<string>protocolCycleSpeed</string>
</dict>
</plist>
