<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerEnvironmentDistance</key>
	<string>easyProfileTag</string>
	<key>nextGridviewVisible</key>
	<string>interactorBeyondTier</string>
	<key>queryAroundType</key>
	<string>painterCompositeMode</string>
	<key>sharedVariantAcceleration</key>
	<string>prismaticTickerShape</string>
	<key>sinkInFunction</key>
	<string>euclideanObserverSpeed</string>
</dict>
</plist>
