<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousExtensionState</key>
	<string>providerStructureSize</string>
	<key>blocAmongScope</key>
	<string>cellAndTier</string>
	<key>compositionalCapacitiesMode</key>
	<string>cacheTierTheme</string>
	<key>mutableCompleterLocation</key>
	<string>streamSinceState</string>
	<key>requestBridgeTag</key>
	<string>viewNumberTransparency</string>
	<key>signatureContextDelay</key>
	<string>batchMementoSize</string>
	<key>taskPlatformTension</key>
	<string>repositoryPerBridge</string>
</dict>
</plist>
