<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleAwayParameter</key>
	<string>queueAboutStyle</string>
	<key>menuJobColor</key>
	<string>lastGrainResponse</string>
	<key>navigatorLikeLayer</key>
	<string>criticalAllocatorMargin</string>
</dict>
</plist>
