<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerNearStage</key>
	<string>delegateProxyMomentum</string>
	<key>cubitScopeSpeed</key>
	<string>currentHashVisible</string>
	<key>dimensionContextSize</key>
	<string>mapAsChain</string>
	<key>expandedAmongPattern</key>
	<string>mediumAnimationEdge</string>
	<key>fragmentDespiteChain</key>
	<string>rowVersusActivity</string>
	<key>graphBufferVisible</key>
	<string>collectionDecoratorBottom</string>
	<key>listviewAboutAdapter</key>
	<string>histogramTierVisibility</string>
	<key>utilDuringMemento</key>
	<string>movementTypeIndex</string>
</dict>
</plist>
