<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithComposite</key>
	<string>requiredSpecifierAlignment</string>
	<key>checkboxLayerEdge</key>
	<string>largeInterfaceVelocity</string>
	<key>concurrentGesturedetectorOrigin</key>
	<string>reductionAroundTier</string>
	<key>easyPresenterBottom</key>
	<string>coordinatorInFramework</string>
	<key>interfaceAndFacade</key>
	<string>dynamicProgressbarRate</string>
	<key>mobileLevelCount</key>
	<string>chapterViaFramework</string>
	<key>nodeContainPhase</key>
	<string>ternaryBridgeTail</string>
	<key>subscriptionPrototypeForce</key>
	<string>containerSingletonCenter</string>
	<key>textExceptMode</key>
	<string>documentCommandDuration</string>
</dict>
</plist>
