<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesCommandVelocity</key>
	<string>errorMethodForce</string>
	<key>cubitBySystem</key>
	<string>delegateUntilBuffer</string>
	<key>delicateGetxAppearance</key>
	<string>priorCacheInterval</string>
	<key>explicitBuilderSkewx</key>
	<string>agileIntensityShape</string>
	<key>taskAgainstFunction</key>
	<string>delicateTextureFlags</string>
</dict>
</plist>
