<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBeyondAction</key>
	<string>curveTierSkewy</string>
	<key>checkboxTaskLocation</key>
	<string>hashNearProcess</string>
	<key>rectInProcess</key>
	<string>permissiveLocalizationFrequency</string>
	<key>symmetricBuilderInset</key>
	<string>richtextNumberAlignment</string>
	<key>vectorAtVariable</key>
	<string>radiusWorkTransparency</string>
	<key>viewStructureStyle</key>
	<string>ignoredThreadOffset</string>
</dict>
</plist>
