<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedHandlerCoord</key>
	<string>cursorForFunction</string>
	<key>aspectLikeContext</key>
	<string>composableSubscriptionVisible</string>
	<key>clipperAsPhase</key>
	<string>curveVersusVar</string>
	<key>columnSinceValue</key>
	<string>activePaddingEdge</string>
	<key>cubeJobAppearance</key>
	<string>animationAboutVariable</string>
	<key>effectActionSkewx</key>
	<string>subsequentTickerVisibility</string>
	<key>futureProxyOrientation</key>
	<string>coordinatorFormTail</string>
	<key>rowWithProxy</key>
	<string>routeInPattern</string>
</dict>
</plist>
