<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoInkwellContrast</key>
	<string>responsePatternTag</string>
	<key>basicSampleTransparency</key>
	<string>materialEquipmentTag</string>
	<key>constraintFunctionTag</key>
	<string>positionStyleFlags</string>
	<key>fixedModelTail</key>
	<string>mobileOffsetPosition</string>
	<key>frameThanBridge</key>
	<string>sliderShapeDistance</string>
</dict>
</plist>
