<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFromSingleton</key>
	<string>missionOutsideFlyweight</string>
	<key>chartAboutType</key>
	<string>secondVectorRotation</string>
	<key>consultativeAlignmentMode</key>
	<string>bufferMethodStyle</string>
	<key>liteNodeRotation</key>
	<string>statelessAmongKind</string>
	<key>routeDecoratorCenter</key>
	<string>builderProcessCoord</string>
</dict>
</plist>
