<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionLikeContext</key>
	<string>graphWithSingleton</string>
	<key>errorActionEdge</key>
	<string>workflowAwayScope</string>
	<key>interactorInStructure</key>
	<string>curveBesideParameter</string>
	<key>lastServiceOrigin</key>
	<string>viewForPlatform</string>
	<key>permissiveRemainderSkewx</key>
	<string>similarRouterCount</string>
	<key>semanticsWithoutAction</key>
	<string>denseButtonDepth</string>
	<key>topicAsAction</key>
	<string>titleActionTint</string>
	<key>utilInsideVisitor</key>
	<string>unsortedTabviewHead</string>
</dict>
</plist>
