<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorChainScale</key>
	<string>gateViaPrototype</string>
	<key>containerNearStyle</key>
	<string>crudeTransformerOrientation</string>
	<key>disparateConvolutionSpeed</key>
	<string>protectedScaffoldTail</string>
	<key>explicitOperationEdge</key>
	<string>blocValueDepth</string>
	<key>statefulVersusAdapter</key>
	<string>typicalGiftColor</string>
</dict>
</plist>
