<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPhaseColor</key>
	<string>rectValueShade</string>
	<key>behaviorShapeCoord</key>
	<string>dynamicLogTension</string>
	<key>entropyAndJob</key>
	<string>tableUntilFunction</string>
	<key>materialProviderAlignment</key>
	<string>decorationNearProcess</string>
	<key>mediocreDurationDepth</key>
	<string>lostSkinSize</string>
	<key>protectedRoleSize</key>
	<string>cubeObserverScale</string>
	<key>specifyPositionPressure</key>
	<string>extensionStageState</string>
	<key>threadCycleForce</key>
	<string>normWithMode</string>
</dict>
</plist>
