<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAtFramework</key>
	<string>boxActivitySpeed</string>
	<key>compositionUntilState</key>
	<string>effectAtTier</string>
	<key>multiplicationStyleShape</key>
	<string>stateMediatorHue</string>
	<key>popupLevelTag</key>
	<string>missionTaskMomentum</string>
</dict>
</plist>
