<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledFactoryDuration</key>
	<string>subpixelPerVariable</string>
	<key>intensityIncludeInterpreter</key>
	<string>cubeCycleTag</string>
	<key>overlayLikeState</key>
	<string>deferredVectorCenter</string>
	<key>topicTempleTint</key>
	<string>layerAgainstFunction</string>
</dict>
</plist>
