<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncContextHue</key>
	<string>secondMenuShade</string>
	<key>concreteProviderTail</key>
	<string>lastIndicatorAlignment</string>
	<key>cycleNumberResponse</key>
	<string>storyboardAtMethod</string>
	<key>optimizerIncludeType</key>
	<string>containerAndType</string>
	<key>projectWithState</key>
	<string>commonRadioDensity</string>
	<key>radiusAndVariable</key>
	<string>momentumDuringWork</string>
	<key>reducerOfChain</key>
	<string>switchFormCoord</string>
	<key>spotScopeOrigin</key>
	<string>navigationOperationOrientation</string>
	<key>titleAroundScope</key>
	<string>matrixTaskCenter</string>
	<key>uniformSkirtOrientation</key>
	<string>currentConfigurationRotation</string>
</dict>
</plist>
