<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateActivityOrigin</key>
	<string>popupExceptInterpreter</string>
	<key>kernelAboutFlyweight</key>
	<string>responseParameterTop</string>
	<key>layerVariableTheme</key>
	<string>semanticOffsetCoord</string>
	<key>lazyGateCenter</key>
	<string>roleAndStyle</string>
	<key>listenerFromParameter</key>
	<string>graphTempleInterval</string>
	<key>positionByBridge</key>
	<string>sineObserverSkewy</string>
	<key>requiredSizeSpacing</key>
	<string>drawerAlongCycle</string>
	<key>resizableHeapMode</key>
	<string>composableGraphKind</string>
	<key>subpixelWorkColor</key>
	<string>brushActionDelay</string>
	<key>textNumberMode</key>
	<string>alertTaskShade</string>
</dict>
</plist>
