<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureThroughScope</key>
	<string>collectionActivityInset</string>
	<key>comprehensiveContainerTheme</key>
	<string>hyperbolicBlocTop</string>
	<key>mediocreIsolateMomentum</key>
	<string>histogramEnvironmentName</string>
	<key>opaqueConfigurationDensity</key>
	<string>fixedConvolutionMode</string>
	<key>shaderAgainstStructure</key>
	<string>convolutionVersusTask</string>
	<key>sliderDespiteVisitor</key>
	<string>uniqueFactoryTop</string>
	<key>synchronousSkinDepth</key>
	<string>tabbarContextOrigin</string>
	<key>tweenPerInterpreter</key>
	<string>featureExceptProxy</string>
</dict>
</plist>
