<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterDespiteAdapter</key>
	<string>gridOrNumber</string>
	<key>enabledFrameTension</key>
	<string>curveDespiteTask</string>
	<key>independentWidgetInterval</key>
	<string>projectionDecoratorOpacity</string>
	<key>keyCompleterTail</key>
	<string>menuCommandShape</string>
	<key>loopUntilNumber</key>
	<string>persistentResponseStyle</string>
	<key>materialChainVisible</key>
	<string>ternaryAlongBridge</string>
	<key>responseAwayStage</key>
	<string>singletonBufferVelocity</string>
	<key>scrollMementoBorder</key>
	<string>newestCurveValidation</string>
	<key>tabviewJobSaturation</key>
	<string>keyInkwellLeft</string>
	<key>themeStructureKind</key>
	<string>storePlatformIndex</string>
</dict>
</plist>
