<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetParamName</key>
	<string>stackUntilVar</string>
	<key>cubitStageLeft</key>
	<string>errorAgainstJob</string>
	<key>localizationParameterState</key>
	<string>streamCycleRotation</string>
	<key>priorPopupShape</key>
	<string>uniformPlateTail</string>
	<key>requiredActivityPressure</key>
	<string>threadIncludeVisitor</string>
	<key>routerThanAdapter</key>
	<string>tweenMementoMode</string>
</dict>
</plist>
