<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaOrPattern</key>
	<string>rowAndStrategy</string>
	<key>awaitVersusBuffer</key>
	<string>lostProtocolType</string>
	<key>intuitiveSliderInterval</key>
	<string>animatedAllocatorOffset</string>
	<key>sessionWithTask</key>
	<string>signatureWithoutPhase</string>
</dict>
</plist>
