<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelAsTask</key>
	<string>futureActionTop</string>
	<key>menuAtProcess</key>
	<string>discardedPetPosition</string>
	<key>progressbarAroundFlyweight</key>
	<string>tabviewEnvironmentRotation</string>
	<key>resolverVarDelay</key>
	<string>prismaticInjectionBound</string>
</dict>
</plist>
