<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDelegateMode</key>
	<string>descriptionLevelSkewy</string>
	<key>characterAgainstTemple</key>
	<string>seamlessTableRight</string>
	<key>decorationModeTint</key>
	<string>cartesianInterfaceAppearance</string>
	<key>instructionAgainstBuffer</key>
	<string>apertureAsStructure</string>
</dict>
</plist>
