<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopFrameBound</key>
	<string>sharedEqualizationFlags</string>
	<key>equalizationWithCycle</key>
	<string>errorDuringType</string>
	<key>managerParameterHead</key>
	<string>interactorAtComposite</string>
	<key>operationShapeAlignment</key>
	<string>substantialTimerLocation</string>
	<key>significantAnimationTint</key>
	<string>euclideanTransitionEdge</string>
	<key>sliderPatternName</key>
	<string>autoScreenName</string>
	<key>typicalCursorTransparency</key>
	<string>nativeLogHue</string>
</dict>
</plist>
