<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsBesideJob</key>
	<string>crucialTweenType</string>
	<key>effectThroughFramework</key>
	<string>mainZoneCount</string>
	<key>positionedBufferCenter</key>
	<string>invisibleFlexTransparency</string>
</dict>
</plist>
