<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanModelScale</key>
	<string>slashExceptDecorator</string>
	<key>materialListenerIndex</key>
	<string>richtextThroughJob</string>
	<key>metadataForValue</key>
	<string>singleChallengeAlignment</string>
	<key>otherContainerDepth</key>
	<string>chapterPatternSaturation</string>
	<key>pinchableRadiusResponse</key>
	<string>alertPatternAlignment</string>
</dict>
</plist>
