<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerByFunction</key>
	<string>checklistUntilPhase</string>
	<key>cupertinoAccessoryState</key>
	<string>painterDuringPlatform</string>
	<key>exceptionObserverAppearance</key>
	<string>progressbarForComposite</string>
	<key>masterPerProxy</key>
	<string>completerViaCycle</string>
	<key>roleLayerOrientation</key>
	<string>gramCycleShape</string>
	<key>storyboardInShape</key>
	<string>sophisticatedCaptionIndex</string>
	<key>subsequentProfileDistance</key>
	<string>blocForMode</string>
</dict>
</plist>
