<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashVersusObserver</key>
	<string>gramAgainstParameter</string>
	<key>layoutFunctionDelay</key>
	<string>containerStructureOrigin</string>
	<key>unsortedInkwellDelay</key>
	<string>criticalWidgetType</string>
</dict>
</plist>
