<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalAssetMargin</key>
	<string>constraintWorkSpacing</string>
	<key>grainCycleVelocity</key>
	<string>sortedDrawerOrigin</string>
	<key>hyperbolicLayoutResponse</key>
	<string>liteRepositoryType</string>
	<key>instructionByTask</key>
	<string>monsterStyleDelay</string>
	<key>liteWidgetTop</key>
	<string>touchSinceStrategy</string>
	<key>localizationMementoIndex</key>
	<string>sceneParamTension</string>
</dict>
</plist>
