<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAndStructure</key>
	<string>workflowSingletonFormat</string>
	<key>equipmentVisitorMargin</key>
	<string>hashTaskHue</string>
	<key>keyDialogsBottom</key>
	<string>storageInterpreterOrientation</string>
	<key>layoutLikeValue</key>
	<string>nibProxySpeed</string>
	<key>localizationMediatorInterval</key>
	<string>stackAwayKind</string>
	<key>smartSliderBorder</key>
	<string>zoneFrameworkSize</string>
	<key>smartWidgetOffset</key>
	<string>boxshadowFacadeStatus</string>
	<key>spriteAdapterColor</key>
	<string>requestStyleKind</string>
</dict>
</plist>
