<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentDuringChain</key>
	<string>scrollNearProcess</string>
	<key>discardedPreviewContrast</key>
	<string>hyperbolicInterfaceTransparency</string>
	<key>marginAtVisitor</key>
	<string>pointAtTask</string>
	<key>tableByBuffer</key>
	<string>gateActivitySkewy</string>
</dict>
</plist>
