<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystDespiteInterpreter</key>
	<string>responsiveSkirtHue</string>
	<key>chartAwayChain</key>
	<string>graphicOrSingleton</string>
	<key>lossWorkSkewy</key>
	<string>lostPreviewTension</string>
	<key>nextExceptionDepth</key>
	<string>appbarVersusCycle</string>
	<key>reactiveNibCenter</key>
	<string>borderBeyondBuffer</string>
</dict>
</plist>
