<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexibleSceneHead</key>
	<string>blocOperationTension</string>
	<key>graphAsType</key>
	<string>bitrateViaPrototype</string>
	<key>layerAtTier</key>
	<string>methodAsState</string>
	<key>primaryChannelsBound</key>
	<string>buttonAwayVar</string>
	<key>subsequentAssetBound</key>
	<string>backwardHeroType</string>
</dict>
</plist>
