<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOperationColor</key>
	<string>opaqueCubitDirection</string>
	<key>cupertinoContextLocation</key>
	<string>diversifiedEffectLeft</string>
	<key>gridDuringStyle</key>
	<string>musicAroundPlatform</string>
	<key>iterativeChapterSpacing</key>
	<string>ignoredManagerFrequency</string>
	<key>rapidResourceDelay</key>
	<string>permissiveGraphBorder</string>
	<key>specifierInsideBuffer</key>
	<string>techniquePhaseOrientation</string>
	<key>tickerContainFlyweight</key>
	<string>staticIndicatorContrast</string>
</dict>
</plist>
