<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitPerJob</key>
	<string>animatedStreamBorder</string>
	<key>cardActivityTop</key>
	<string>localizationPrototypeSkewx</string>
	<key>eagerAlignmentFormat</key>
	<string>tickerContainForm</string>
	<key>localIndicatorDensity</key>
	<string>resultAdapterVelocity</string>
	<key>menuBridgeDelay</key>
	<string>ignoredPopupCount</string>
	<key>routerProcessColor</key>
	<string>aspectratioProcessDirection</string>
	<key>spineShapeIndex</key>
	<string>configurationActivityType</string>
	<key>streamVersusVariable</key>
	<string>containerPerVariable</string>
</dict>
</plist>
