<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAsStructure</key>
	<string>mediaFlyweightDensity</string>
	<key>descriptionBufferState</key>
	<string>spriteWorkDirection</string>
	<key>dynamicTechniqueSpacing</key>
	<string>alertByComposite</string>
	<key>frameForScope</key>
	<string>functionalUsageAlignment</string>
	<key>offsetLayerRotation</key>
	<string>taskProcessSpeed</string>
	<key>resourcePatternCoord</key>
	<string>groupNearKind</string>
	<key>rolePhaseTint</key>
	<string>stackAroundProxy</string>
	<key>segmentBesideTemple</key>
	<string>curvePlatformMargin</string>
	<key>statefulResolverColor</key>
	<string>usageForPhase</string>
	<key>textAgainstPlatform</key>
	<string>finalIsolateCount</string>
</dict>
</plist>
