<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constColumnDensity</key>
	<string>pinchableCoordinatorStyle</string>
	<key>draggableTaskRate</key>
	<string>textFunctionMargin</string>
	<key>sequentialChallengeResponse</key>
	<string>reusableExpandedTint</string>
	<key>statefulContainPlatform</key>
	<string>cubePatternKind</string>
</dict>
</plist>
