<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianOptionOrigin</key>
	<string>durationVersusParam</string>
	<key>comprehensiveSignatureDensity</key>
	<string>retainedRowIndex</string>
	<key>mobileRoleTheme</key>
	<string>promiseNumberVisibility</string>
	<key>prevAwaitPadding</key>
	<string>projectBesideCycle</string>
	<key>skinOutsideEnvironment</key>
	<string>statelessDelegateRight</string>
	<key>subsequentAspectratioTransparency</key>
	<string>featureTempleVisibility</string>
</dict>
</plist>
