<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGiftDensity</key>
	<string>methodOrPlatform</string>
	<key>directlySwitchTint</key>
	<string>alignmentDuringBridge</string>
	<key>discardedBinarySpeed</key>
	<string>opaqueTextLocation</string>
	<key>exceptionMediatorFeedback</key>
	<string>widgetAtFlyweight</string>
	<key>gridviewLayerType</key>
	<string>promiseProxyResponse</string>
	<key>immutableChannelsKind</key>
	<string>scrollLevelRight</string>
</dict>
</plist>
