<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerModulusInteraction</key>
	<string>metadataFormTint</string>
	<key>layoutChainStatus</key>
	<string>animationContainSingleton</string>
	<key>navigatorFrameworkIndex</key>
	<string>navigationAroundSystem</string>
	<key>repositoryAtKind</key>
	<string>serviceUntilTemple</string>
	<key>scrollableScreenAlignment</key>
	<string>gesturedetectorPerShape</string>
	<key>stepMementoVisibility</key>
	<string>transitionFormTint</string>
	<key>topicAgainstShape</key>
	<string>animationBesideType</string>
</dict>
</plist>
