<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAgainstJob</key>
	<string>titleFormKind</string>
	<key>finalUsecaseDepth</key>
	<string>singleTangentDistance</string>
	<key>inactiveAllocatorRate</key>
	<string>boxPatternSize</string>
	<key>observerAtVisitor</key>
	<string>scaleLayerFormat</string>
	<key>originalAnchorTension</key>
	<string>cubitScopeKind</string>
	<key>riverpodLikeMode</key>
	<string>topicFormContrast</string>
	<key>sliderJobCount</key>
	<string>directlyProjectDepth</string>
	<key>stackForObserver</key>
	<string>getxIncludeOperation</string>
	<key>storeKindDepth</key>
	<string>originalHeroShape</string>
</dict>
</plist>
