<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitMediatorSpeed</key>
	<string>themePatternHue</string>
	<key>axisFromVisitor</key>
	<string>loopThroughSystem</string>
	<key>directModalOpacity</key>
	<string>hierarchicalPositionedResponse</string>
	<key>positionWithStyle</key>
	<string>accordionBehaviorOffset</string>
	<key>requiredDelegateMomentum</key>
	<string>completerThanCommand</string>
	<key>resizableExpandedValidation</key>
	<string>hierarchicalCollectionMode</string>
	<key>sizedboxInsidePhase</key>
	<string>mobileTempleStatus</string>
</dict>
</plist>
