<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorTaskLeft</key>
	<string>documentContextCount</string>
	<key>imperativeContainerAcceleration</key>
	<string>animationAtParam</string>
	<key>mainWidgetCenter</key>
	<string>roleForState</string>
	<key>prismaticServiceDensity</key>
	<string>reductionVisitorFlags</string>
	<key>providerByEnvironment</key>
	<string>pinchableOffsetOrigin</string>
	<key>sliderBeyondStrategy</key>
	<string>transitionParamPressure</string>
	<key>ternaryDespiteEnvironment</key>
	<string>associatedSpriteResponse</string>
	<key>textureExceptOperation</key>
	<string>subtleServiceRate</string>
</dict>
</plist>
