<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableGraphSaturation</key>
	<string>resultAroundMemento</string>
	<key>nativeAwaitAppearance</key>
	<string>temporaryEntityDirection</string>
	<key>navigatorTierFeedback</key>
	<string>oldActivityFlags</string>
	<key>permissiveBufferBound</key>
	<string>callbackScopeMargin</string>
	<key>scalePlatformTag</key>
	<string>grainAsProcess</string>
</dict>
</plist>
