<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionIncludeMediator</key>
	<string>transformerWorkSkewy</string>
	<key>hashCycleBottom</key>
	<string>rectThroughMediator</string>
	<key>intensityParameterSize</key>
	<string>parallelConstraintType</string>
	<key>pointCompositeMode</key>
	<string>rowThanContext</string>
	<key>sizeThanTask</key>
	<string>persistentAwaitColor</string>
</dict>
</plist>
