<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorEnvironmentMargin</key>
	<string>gestureVarDepth</string>
	<key>certificateLevelBorder</key>
	<string>reducerAwayComposite</string>
	<key>delegateOfProxy</key>
	<string>statefulFrameworkInterval</string>
	<key>intensityStageDuration</key>
	<string>pivotalPositionedFeedback</string>
	<key>numericalAssetForce</key>
	<string>convolutionAtAdapter</string>
	<key>protectedEventBorder</key>
	<string>eventPhaseOrientation</string>
	<key>responseProxyDirection</key>
	<string>concurrentRichtextSpacing</string>
	<key>routeMediatorRate</key>
	<string>roleAgainstProcess</string>
	<key>sceneStageMode</key>
	<string>offsetAdapterMomentum</string>
	<key>usageAlongMode</key>
	<string>heroFrameworkState</string>
</dict>
</plist>
