<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBeyondType</key>
	<string>reducerExceptParam</string>
	<key>completerLikeFunction</key>
	<string>routeStructurePressure</string>
	<key>skirtVersusScope</key>
	<string>transformerKindFormat</string>
	<key>sliderEnvironmentOrigin</key>
	<string>opaqueCoordinatorAcceleration</string>
	<key>tabbarForTemple</key>
	<string>spriteCycleSpacing</string>
</dict>
</plist>
