<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyChapterAppearance</key>
	<string>radiusPerEnvironment</string>
	<key>localBoxTheme</key>
	<string>semanticExponentMomentum</string>
	<key>loopExceptMethod</key>
	<string>musicKindOrigin</string>
	<key>queueDecoratorTension</key>
	<string>navigatorChainRotation</string>
	<key>radiusPerProxy</key>
	<string>animationWithPrototype</string>
</dict>
</plist>
