<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionSystemFrequency</key>
	<string>newestContainerShape</string>
	<key>loopInJob</key>
	<string>positionContainCommand</string>
	<key>resizableLossAppearance</key>
	<string>referenceByLevel</string>
	<key>techniqueVisitorDistance</key>
	<string>animationBridgeForce</string>
</dict>
</plist>
