<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWithoutState</key>
	<string>precisionVisitorBehavior</string>
	<key>bulletLayerDepth</key>
	<string>tensorDrawerStyle</string>
	<key>denseConvolutionOffset</key>
	<string>sizedboxFrameworkVisible</string>
	<key>dialogsThanTier</key>
	<string>serviceVersusMode</string>
	<key>multiPageviewInset</key>
	<string>buttonForVar</string>
	<key>screenThroughFunction</key>
	<string>histogramScopeOpacity</string>
	<key>storageFrameworkLocation</key>
	<string>logarithmTierSize</string>
	<key>timerTypeCenter</key>
	<string>sizeInFramework</string>
	<key>zoneCycleMode</key>
	<string>activeIntensityLocation</string>
</dict>
</plist>
