<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemByValue</key>
	<string>stackSinceVisitor</string>
	<key>intuitiveGemForce</key>
	<string>constActionName</string>
	<key>isolateShapeLeft</key>
	<string>blocNearParameter</string>
	<key>parallelMobileSpacing</key>
	<string>arithmeticTierEdge</string>
	<key>sortedGateDuration</key>
	<string>resizableStorageTheme</string>
</dict>
</plist>
