<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseDocumentFeedback</key>
	<string>agilePainterSkewx</string>
	<key>desktopTabviewTheme</key>
	<string>apertureAwayCycle</string>
	<key>subsequentTaskAppearance</key>
	<string>radiusMediatorBrightness</string>
</dict>
</plist>
