<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandForFunction</key>
	<string>draggableBrushFormat</string>
	<key>cupertinoVersusNumber</key>
	<string>lostZoneType</string>
	<key>labelLikeDecorator</key>
	<string>transformerWithoutProxy</string>
	<key>monsterSingletonInterval</key>
	<string>catalystProcessAcceleration</string>
	<key>oldActionTint</key>
	<string>otherTickerDepth</string>
	<key>permanentEntitySpacing</key>
	<string>scrollableAnchorBottom</string>
	<key>prevConvolutionOffset</key>
	<string>symmetricScrollState</string>
	<key>providerOfBuffer</key>
	<string>mutableDelegateBorder</string>
</dict>
</plist>
