<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAtValue</key>
	<string>curveFrameworkMargin</string>
	<key>rectObserverVelocity</key>
	<string>concreteTangentCenter</string>
	<key>sceneMementoHead</key>
	<string>rapidProviderTop</string>
	<key>threadLayerCount</key>
	<string>bulletVisitorTension</string>
	<key>topicLikeWork</key>
	<string>managerObserverLeft</string>
</dict>
</plist>
