<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadataTaskFormat</key>
	<string>explicitTangentSpeed</string>
	<key>normalResponseHue</key>
	<string>concreteGridPressure</string>
	<key>routeNumberFeedback</key>
	<string>textOutsideFlyweight</string>
	<key>tensorAlertScale</key>
	<string>rectAlongScope</string>
</dict>
</plist>
