<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionStageTail</key>
	<string>sortedGiftForce</string>
	<key>exponentObserverStyle</key>
	<string>gestureJobAcceleration</string>
	<key>unactivatedOffsetCoord</key>
	<string>techniqueOutsideStyle</string>
</dict>
</plist>
