<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>precisionMethodTension</key>
	<string>channelTempleFormat</string>
	<key>respectiveMissionOrientation</key>
	<string>customizedPreviewRate</string>
	<key>tickerLevelHead</key>
	<string>musicFormDuration</string>
	<key>widgetOrStyle</key>
	<string>grayscaleForVariable</string>
</dict>
</plist>
