<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAboutVariable</key>
	<string>mediaqueryOperationRotation</string>
	<key>coordinatorTypeTheme</key>
	<string>protectedRichtextCoord</string>
	<key>criticalDependencyCount</key>
	<string>buttonAboutObserver</string>
	<key>dropdownbuttonSingletonType</key>
	<string>mediaqueryAmongTask</string>
	<key>enabledCanvasSize</key>
	<string>workflowThanSystem</string>
	<key>featureBesideTask</key>
	<string>utilMediatorBrightness</string>
	<key>progressbarLevelBrightness</key>
	<string>menuVersusWork</string>
	<key>sophisticatedChannelSize</key>
	<string>graphCommandSpeed</string>
</dict>
</plist>
