<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMetadataSkewy</key>
	<string>permissiveBitrateKind</string>
	<key>gestureInsideSingleton</key>
	<string>exponentAndForm</string>
	<key>ignoredStatelessDuration</key>
	<string>offsetDespiteTier</string>
	<key>permissiveControllerHead</key>
	<string>interfacePhaseShape</string>
	<key>radiusInsideVariable</key>
	<string>deferredSceneShade</string>
	<key>resultWithoutEnvironment</key>
	<string>sizeShapeVisibility</string>
	<key>ternaryBesideNumber</key>
	<string>brushNearDecorator</string>
</dict>
</plist>
