<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>robustCosineState</key>
	<string>easyPrioritySize</string>
	<key>smartAssetTag</key>
	<string>controllerOrContext</string>
</dict>
</plist>
