<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetLikeDecorator</key>
	<string>unsortedStorageTension</string>
	<key>concurrentResolverMargin</key>
	<string>usedIndicatorBottom</string>
	<key>materialByProxy</key>
	<string>layerNumberAppearance</string>
	<key>mediaAmongProxy</key>
	<string>localizationViaOperation</string>
	<key>observerAgainstEnvironment</key>
	<string>robustPreviewDelay</string>
	<key>observerPerPlatform</key>
	<string>draggableTaskAppearance</string>
	<key>presenterPerAdapter</key>
	<string>storeAndSystem</string>
	<key>similarCurveDistance</key>
	<string>skirtLikeAdapter</string>
	<key>textureKindTag</key>
	<string>smallMovementPressure</string>
</dict>
</plist>
