<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationExceptVisitor</key>
	<string>storeOfInterpreter</string>
	<key>specifierAsObserver</key>
	<string>textActionFeedback</string>
	<key>ternaryInsideVar</key>
	<string>storeAsComposite</string>
</dict>
</plist>
