<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralScreenDepth</key>
	<string>durationBridgeColor</string>
	<key>factoryDecoratorAlignment</key>
	<string>spineStrategyRight</string>
	<key>mediumParticleTheme</key>
	<string>subpixelWithSystem</string>
	<key>protocolLevelDelay</key>
	<string>spotIncludeContext</string>
	<key>reactiveProjectionInteraction</key>
	<string>popupExceptCycle</string>
</dict>
</plist>
