<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalDescriptorPressure</key>
	<string>responsiveEquipmentMode</string>
	<key>grayscaleCommandSkewy</key>
	<string>clipperViaValue</string>
	<key>reductionLayerFormat</key>
	<string>requestSingletonName</string>
	<key>temporaryEffectAppearance</key>
	<string>awaitFacadeDelay</string>
	<key>zoneActionFeedback</key>
	<string>transformerTierColor</string>
</dict>
</plist>
