<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerDuringNumber</key>
	<string>desktopResponseRotation</string>
	<key>denseChapterOrientation</key>
	<string>requestSystemDuration</string>
	<key>granularCubitInset</key>
	<string>seamlessPrecisionPressure</string>
	<key>intensityWithoutStrategy</key>
	<string>binaryWithoutPhase</string>
	<key>interactorWithSystem</key>
	<string>assetLikeSingleton</string>
	<key>musicParameterLeft</key>
	<string>builderOrType</string>
	<key>sequentialUsageStatus</key>
	<string>requestByStage</string>
</dict>
</plist>
