<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandMementoInteraction</key>
	<string>originalManagerStatus</string>
	<key>cubePlatformLeft</key>
	<string>originalMemberInteraction</string>
	<key>deferredZoneTransparency</key>
	<string>directNavigatorMargin</string>
	<key>dependencyLikeBuffer</key>
	<string>otherNavigatorFlags</string>
	<key>expandedBufferInteraction</key>
	<string>protectedGridPressure</string>
	<key>multiNavigatorOrientation</key>
	<string>criticalGraphicContrast</string>
	<key>playbackActivityFlags</key>
	<string>flexObserverHead</string>
	<key>semanticUsecaseFeedback</key>
	<string>tangentAlongStructure</string>
</dict>
</plist>
