<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryKindInteraction</key>
	<string>previewOfInterpreter</string>
	<key>logThanPhase</key>
	<string>crucialCapacitiesStatus</string>
	<key>widgetPrototypeResponse</key>
	<string>hierarchicalAssetCount</string>
</dict>
</plist>
