<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardParticleCoord</key>
	<string>gestureSinceProcess</string>
	<key>mainButtonOrigin</key>
	<string>capacitiesPhaseAlignment</string>
	<key>mediocreCubeRate</key>
	<string>providerMethodDelay</string>
	<key>providerViaObserver</key>
	<string>vectorNumberForce</string>
	<key>queryAsForm</key>
	<string>semanticChartEdge</string>
	<key>resultNumberDirection</key>
	<string>unactivatedCompleterTension</string>
	<key>roleOfMemento</key>
	<string>explicitZoneAppearance</string>
	<key>toolPrototypeOrigin</key>
	<string>columnStateBrightness</string>
</dict>
</plist>
