<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseActionDensity</key>
	<string>collectionStateIndex</string>
	<key>consumerFlyweightBorder</key>
	<string>grayscaleAlongFramework</string>
	<key>listenerParamDirection</key>
	<string>resultEnvironmentContrast</string>
	<key>multiGrainAppearance</key>
	<string>routerJobSaturation</string>
	<key>referenceLevelOrientation</key>
	<string>giftInterpreterScale</string>
	<key>resizableRepositorySaturation</key>
	<string>typicalMarginRate</string>
	<key>taskNearProxy</key>
	<string>transformerWithValue</string>
	<key>textStageVisible</key>
	<string>transitionTierTransparency</string>
</dict>
</plist>
