<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveInComposite</key>
	<string>listviewNearWork</string>
	<key>invisibleReducerDepth</key>
	<string>metadataStageTag</string>
	<key>rowWithAction</key>
	<string>originalAnimationEdge</string>
	<key>textureObserverTop</key>
	<string>activatedInterfaceTheme</string>
</dict>
</plist>
