<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFacadeAppearance</key>
	<string>synchronousSingletonHue</string>
	<key>borderStateInterval</key>
	<string>hardFutureLeft</string>
	<key>enabledNavigatorRight</key>
	<string>projectChainPressure</string>
	<key>eventAlongState</key>
	<string>layerFunctionAppearance</string>
	<key>originalSkirtAcceleration</key>
	<string>groupParameterTail</string>
	<key>sensorVersusTier</key>
	<string>significantViewInset</string>
</dict>
</plist>
