<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileSensorBottom</key>
	<string>storyboardFormCenter</string>
	<key>requiredLocalizationStyle</key>
	<string>smartContainerIndex</string>
</dict>
</plist>
