<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionVersusSystem</key>
	<string>providerPrototypeTransparency</string>
	<key>agileMetadataRight</key>
	<string>subsequentProtocolCenter</string>
	<key>clipperBeyondOperation</key>
	<string>diffableNormMargin</string>
	<key>descriptorActionBorder</key>
	<string>presenterShapeTint</string>
	<key>interactorOrKind</key>
	<string>precisionStageInteraction</string>
	<key>intermediateMenuTension</key>
	<string>rowDuringCommand</string>
	<key>plateInterpreterMode</key>
	<string>tensorTextureVelocity</string>
</dict>
</plist>
