<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionViaValue</key>
	<string>flexibleServiceFlags</string>
	<key>buttonAtAdapter</key>
	<string>normalLossInterval</string>
	<key>comprehensiveBorderLocation</key>
	<string>factoryInAdapter</string>
	<key>oldAwaitKind</key>
	<string>unaryBySystem</string>
	<key>sinkForPlatform</key>
	<string>accordionSensorAppearance</string>
	<key>spriteFormName</key>
	<string>descriptorStateIndex</string>
</dict>
</plist>
