<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteNavigatorRotation</key>
	<string>resilientBufferScale</string>
	<key>convolutionViaOperation</key>
	<string>textfieldMementoCount</string>
	<key>frameLevelDuration</key>
	<string>multiServiceTheme</string>
	<key>gateTempleOffset</key>
	<string>adaptiveNormFormat</string>
	<key>imageStateIndex</key>
	<string>localModelTail</string>
	<key>marginInParam</key>
	<string>anchorForPattern</string>
	<key>robustCycleAppearance</key>
	<string>hardPlateSpacing</string>
	<key>semanticsDespiteMethod</key>
	<string>newestTimerSpacing</string>
	<key>streamNearFramework</key>
	<string>animatedcontainerVersusFlyweight</string>
	<key>themeAroundFunction</key>
	<string>actionFromMode</string>
</dict>
</plist>
