<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGroupHead</key>
	<string>cubitByComposite</string>
	<key>logCommandLocation</key>
	<string>euclideanUsecaseTint</string>
	<key>memberActionFrequency</key>
	<string>spriteAsJob</string>
	<key>mobileBaseLeft</key>
	<string>allocatorLevelSpeed</string>
	<key>progressbarForTier</key>
	<string>usagePhaseInterval</string>
	<key>smartStampTransparency</key>
	<string>cursorCycleHead</string>
	<key>symbolByEnvironment</key>
	<string>usedSwiftBrightness</string>
	<key>textChainSkewy</key>
	<string>themeKindFormat</string>
</dict>
</plist>
