<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicErrorFrequency</key>
	<string>sliderOfPhase</string>
	<key>buttonAsMethod</key>
	<string>scrollableDimensionShade</string>
	<key>otherAlignmentDepth</key>
	<string>grainThanCycle</string>
	<key>semanticCollectionShade</key>
	<string>localInteractorSaturation</string>
	<key>uniformAsyncType</key>
	<string>collectionEnvironmentVisibility</string>
	<key>widgetIncludeLevel</key>
	<string>toolDespiteJob</string>
	<key>workflowBufferBound</key>
	<string>reductionStructureHead</string>
</dict>
</plist>
