<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderWithStage</key>
	<string>symmetricFragmentAlignment</string>
	<key>listenerAroundLevel</key>
	<string>graphicMethodCoord</string>
	<key>metadataMediatorStyle</key>
	<string>originalQuerySaturation</string>
	<key>streamProxyOrigin</key>
	<string>assetWithoutDecorator</string>
	<key>subsequentContractionEdge</key>
	<string>grayscaleOfObserver</string>
</dict>
</plist>
