<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseTypeSaturation</key>
	<string>singletonCompositeVelocity</string>
	<key>cupertinoSliderBottom</key>
	<string>boxTempleTail</string>
	<key>decorationChainState</key>
	<string>textOfProxy</string>
	<key>gradientBesideFunction</key>
	<string>desktopServiceDepth</string>
	<key>screenContainStructure</key>
	<string>controllerPatternInteraction</string>
	<key>smartHandlerContrast</key>
	<string>iconEnvironmentDistance</string>
</dict>
</plist>
