<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeAccessoryOrientation</key>
	<string>utilOutsidePattern</string>
	<key>asyncOrLevel</key>
	<string>utilVisitorDepth</string>
	<key>durationActivityPadding</key>
	<string>blocCycleMargin</string>
	<key>opaqueSizedboxRotation</key>
	<string>imageFromType</string>
	<key>operationOfStage</key>
	<string>textBeyondValue</string>
	<key>optimizerTypeHead</key>
	<string>referenceActivityBehavior</string>
</dict>
</plist>
