<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRowType</key>
	<string>capacitiesFunctionVisibility</string>
	<key>columnInterpreterContrast</key>
	<string>tangentInsideShape</string>
	<key>delegateKindTop</key>
	<string>titleAdapterContrast</string>
	<key>effectFrameworkCount</key>
	<string>seamlessEventType</string>
	<key>mediocreExpandedSpeed</key>
	<string>previewUntilAction</string>
	<key>projectionActivityKind</key>
	<string>dialogsDespiteFlyweight</string>
	<key>resilientProjectionInterval</key>
	<string>commandStrategySkewy</string>
	<key>textStylePressure</key>
	<string>segmentLevelAcceleration</string>
</dict>
</plist>
