<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customStatefulTag</key>
	<string>multiplicationStyleTail</string>
	<key>eventAwayVar</key>
	<string>blocShapeShape</string>
	<key>layerEnvironmentDistance</key>
	<string>bufferVersusInterpreter</string>
	<key>numericalTouchDelay</key>
	<string>pivotalOffsetBound</string>
	<key>profileAlongMode</key>
	<string>localizationAsEnvironment</string>
	<key>requiredEventAppearance</key>
	<string>responsiveExponentKind</string>
	<key>seamlessSpotDistance</key>
	<string>visibleQueueVelocity</string>
	<key>specifySymbolBottom</key>
	<string>cartesianToolSkewy</string>
	<key>timerInterpreterPosition</key>
	<string>featureDuringTier</string>
	<key>usageStateHead</key>
	<string>controllerVarScale</string>
</dict>
</plist>
