<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAwayScope</key>
	<string>cubitActivityVisible</string>
	<key>blocStageScale</key>
	<string>elasticFlexInset</string>
	<key>navigatorSinceVisitor</key>
	<string>entropyContainParameter</string>
	<key>profileParameterSize</key>
	<string>constraintIncludeState</string>
</dict>
</plist>
