<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customControllerSize</key>
	<string>assetObserverAcceleration</string>
	<key>interactorEnvironmentContrast</key>
	<string>bufferOrSingleton</string>
	<key>intuitiveCoordinatorTail</key>
	<string>compositionalRepositoryDirection</string>
	<key>lossByFacade</key>
	<string>featureBeyondLevel</string>
	<key>materialAdapterTag</key>
	<string>menuOperationForce</string>
	<key>segueSinceParameter</key>
	<string>allocatorSingletonTransparency</string>
	<key>sliderStyleRate</key>
	<string>missedEffectKind</string>
</dict>
</plist>
