<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBeyondSingleton</key>
	<string>opaqueLossScale</string>
	<key>intuitiveLabelName</key>
	<string>substantialRouteSkewx</string>
	<key>kernelContainFacade</key>
	<string>stackVariableShape</string>
	<key>liteLayerTension</key>
	<string>cardAroundShape</string>
	<key>relationalParticleTop</key>
	<string>hardLoopDepth</string>
	<key>semanticModelBottom</key>
	<string>convolutionTierSaturation</string>
	<key>subscriptionTaskInteraction</key>
	<string>decorationAgainstStructure</string>
</dict>
</plist>
