<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleAwaitOpacity</key>
	<string>dynamicTaskFormat</string>
	<key>alertMediatorRotation</key>
	<string>statelessStoryboardDistance</string>
	<key>builderInterpreterSpacing</key>
	<string>titleDuringChain</string>
	<key>completionAsEnvironment</key>
	<string>unaryFunctionDirection</string>
	<key>controllerThanMediator</key>
	<string>logarithmTempleOrigin</string>
	<key>gramProxyInset</key>
	<string>commonGraphAppearance</string>
	<key>managerDespiteState</key>
	<string>baseContainSingleton</string>
</dict>
</plist>
