<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarLikeBridge</key>
	<string>delicateNavigatorBehavior</string>
	<key>equipmentAndStage</key>
	<string>topicValuePressure</string>
	<key>intuitiveResourceTransparency</key>
	<string>completerInsideSingleton</string>
	<key>oldSubscriptionTop</key>
	<string>layoutIncludeShape</string>
	<key>persistentTaskOrigin</key>
	<string>handlerVariableTop</string>
	<key>subpixelAroundState</key>
	<string>scaffoldChainAcceleration</string>
	<key>sustainableCycleOrigin</key>
	<string>substantialBaseVelocity</string>
</dict>
</plist>
