<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardReductionMode</key>
	<string>gateContextPressure</string>
	<key>builderOperationSkewy</key>
	<string>buttonAroundActivity</string>
	<key>entropyAwayAdapter</key>
	<string>transformerBridgeTransparency</string>
	<key>materialCharacterStatus</key>
	<string>sustainableGestureResponse</string>
	<key>sensorViaKind</key>
	<string>menuAlongParameter</string>
	<key>similarGroupDepth</key>
	<string>dynamicTransitionBehavior</string>
	<key>temporaryEffectShade</key>
	<string>mediumStoreStyle</string>
</dict>
</plist>
