<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionStrategySkewx</key>
	<string>relationalConfigurationSpeed</string>
	<key>capacitiesContextAlignment</key>
	<string>actionContextEdge</string>
	<key>chapterAwayTemple</key>
	<string>invisibleNavigatorTag</string>
	<key>cubeVersusStructure</key>
	<string>commonResourceTransparency</string>
	<key>deferredAxisTransparency</key>
	<string>keyNotifierTag</string>
	<key>integerCommandHue</key>
	<string>inheritedSampleValidation</string>
	<key>nodeIncludeMode</key>
	<string>sampleSinceSingleton</string>
	<key>repositoryLayerOrientation</key>
	<string>resourceOutsideForm</string>
	<key>semanticSizeOpacity</key>
	<string>masterContextTension</string>
	<key>symbolTierVelocity</key>
	<string>labelAdapterContrast</string>
</dict>
</plist>
