<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBoxshadowDelay</key>
	<string>promiseKindHead</string>
	<key>comprehensivePaddingSpacing</key>
	<string>labelThroughParam</string>
	<key>prevDialogsVelocity</key>
	<string>chapterSingletonRotation</string>
	<key>standalonePriorityColor</key>
	<string>mainSizeColor</string>
	<key>storeLevelIndex</key>
	<string>sequentialStorageFeedback</string>
	<key>unaryStageOffset</key>
	<string>statelessOrState</string>
</dict>
</plist>
