<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisShapeOrientation</key>
	<string>gridKindInteraction</string>
	<key>currentErrorDuration</key>
	<string>overlaySincePrototype</string>
	<key>customizedRiverpodKind</key>
	<string>buttonThroughScope</string>
	<key>entropyVisitorOrigin</key>
	<string>containerForFlyweight</string>
	<key>eventAndState</key>
	<string>advancedNotifierSize</string>
	<key>granularTweenPressure</key>
	<string>isolateInPlatform</string>
	<key>intensityWithLayer</key>
	<string>signAndTemple</string>
	<key>persistentPlateRate</key>
	<string>curveAlongFlyweight</string>
	<key>primaryCubitVisible</key>
	<string>directlyTransformerMargin</string>
</dict>
</plist>
