<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMethodVelocity</key>
	<string>stateInsideOperation</string>
	<key>asyncEventSpacing</key>
	<string>sortedGradientDuration</string>
	<key>bitrateValueInset</key>
	<string>gramAlongVar</string>
	<key>configurationFrameworkPadding</key>
	<string>declarativeListenerMomentum</string>
	<key>intermediateZoneValidation</key>
	<string>workflowVersusChain</string>
	<key>isolateAboutJob</key>
	<string>spinePatternIndex</string>
	<key>layerAboutEnvironment</key>
	<string>textAndStrategy</string>
	<key>playbackAboutEnvironment</key>
	<string>routeBridgeResponse</string>
	<key>stepMediatorFlags</key>
	<string>nodeBufferValidation</string>
	<key>usageActivityTop</key>
	<string>resourcePatternInset</string>
</dict>
</plist>
