<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPreviewTail</key>
	<string>controllerVersusObserver</string>
	<key>disabledAssetName</key>
	<string>previewSinceVisitor</string>
	<key>observerDespiteScope</key>
	<string>columnInterpreterDepth</string>
	<key>providerObserverForce</key>
	<string>storeSystemSpeed</string>
	<key>providerVariableFormat</key>
	<string>futureFlyweightAlignment</string>
	<key>scaffoldSingletonVelocity</key>
	<string>dynamicAwaitDuration</string>
	<key>sessionThroughComposite</key>
	<string>unactivatedHandlerTransparency</string>
	<key>subscriptionWithoutStyle</key>
	<string>primaryCallbackKind</string>
	<key>temporarySpriteDistance</key>
	<string>routeContainFramework</string>
</dict>
</plist>
