<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioBesideVisitor</key>
	<string>navigatorStageRight</string>
	<key>eagerInterfaceDepth</key>
	<string>serviceDuringInterpreter</string>
	<key>fragmentVarColor</key>
	<string>listviewOfMode</string>
	<key>injectionAtStructure</key>
	<string>independentInkwellRate</string>
	<key>vectorStyleBound</key>
	<string>progressbarTierDepth</string>
</dict>
</plist>
