<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientWithoutTier</key>
	<string>durationNearVar</string>
	<key>ignoredQueueCenter</key>
	<string>semanticsAmongPattern</string>
	<key>interfaceAlongState</key>
	<string>asynchronousReducerFeedback</string>
	<key>mapNearParameter</key>
	<string>tweenStageMomentum</string>
	<key>pivotalControllerType</key>
	<string>labelAlongParameter</string>
	<key>remainderProxyHead</key>
	<string>routerStrategyVisibility</string>
	<key>resourceCommandRight</key>
	<string>repositoryMementoTag</string>
	<key>slashDespiteEnvironment</key>
	<string>cupertinoStackHead</string>
	<key>statefulStreamForce</key>
	<string>typicalLabelCount</string>
	<key>usecaseStyleVisibility</key>
	<string>grainSingletonBound</string>
</dict>
</plist>
