<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianDelegateDuration</key>
	<string>queueOfFacade</string>
	<key>cellNumberHead</key>
	<string>autoTextStyle</string>
	<key>draggableToolTop</key>
	<string>logarithmValueTransparency</string>
	<key>grainBridgeBottom</key>
	<string>previewVersusActivity</string>
	<key>grainLevelPressure</key>
	<string>spineThroughInterpreter</string>
	<key>intermediateEqualizationBottom</key>
	<string>cubeFacadeDelay</string>
	<key>prevPaddingFrequency</key>
	<string>multiAlertSize</string>
	<key>projectFormTransparency</key>
	<string>retainedCurveHead</string>
	<key>transformerBeyondNumber</key>
	<string>textfieldSinceWork</string>
</dict>
</plist>
