<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indicatorStyleForce</key>
	<string>segmentIncludeContext</string>
	<key>pointValueAppearance</key>
	<string>radioLikeScope</string>
	<key>sinkFlyweightBorder</key>
	<string>taskWithForm</string>
	<key>sizeShapeDistance</key>
	<string>mediocreEntityRotation</string>
</dict>
</plist>
