<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorPlatformDensity</key>
	<string>scenePlatformPressure</string>
	<key>assetWithoutEnvironment</key>
	<string>temporaryCursorDuration</string>
	<key>buttonVersusCommand</key>
	<string>pinchableIntensityAlignment</string>
	<key>dependencyDespiteFunction</key>
	<string>sizeFlyweightPadding</string>
	<key>interpolationDuringParameter</key>
	<string>specifierValueTail</string>
	<key>normalParticleColor</key>
	<string>interactorPlatformHead</string>
	<key>signMethodCoord</key>
	<string>reactiveClipperSize</string>
</dict>
</plist>
