<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeProtocolTransparency</key>
	<string>discardedInkwellOrigin</string>
	<key>momentumFlyweightColor</key>
	<string>stateAndComposite</string>
	<key>semanticScenePosition</key>
	<string>giftActionSize</string>
</dict>
</plist>
