<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSizedboxScale</key>
	<string>serviceBesideProxy</string>
	<key>effectVariableVisible</key>
	<string>commonTweenSpacing</string>
	<key>errorContextSpeed</key>
	<string>featureStructureName</string>
	<key>heapCycleDensity</key>
	<string>tangentOutsideActivity</string>
	<key>mapAwayFacade</key>
	<string>disabledShaderIndex</string>
	<key>masterStyleDensity</key>
	<string>inactiveLoopColor</string>
	<key>subsequentInkwellSize</key>
	<string>resolverAgainstCycle</string>
	<key>viewSystemTension</key>
	<string>seamlessImageShade</string>
</dict>
</plist>
