<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerChainHead</key>
	<string>symmetricGiftRate</string>
	<key>frameAroundSingleton</key>
	<string>petPerContext</string>
	<key>transformerContainActivity</key>
	<string>remainderThanPhase</string>
	<key>viewEnvironmentOffset</key>
	<string>sliderSystemTail</string>
</dict>
</plist>
