<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMonsterAlignment</key>
	<string>borderCycleRight</string>
	<key>criticalSignatureFrequency</key>
	<string>intermediateIntensityTransparency</string>
	<key>labelVersusComposite</key>
	<string>sliderTypeDensity</string>
	<key>sinkActionCenter</key>
	<string>ignoredGroupTension</string>
	<key>textPerLevel</key>
	<string>fusedContractionLocation</string>
	<key>variantAmongCommand</key>
	<string>liteExpandedState</string>
</dict>
</plist>
