<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativePresenterCoord</key>
	<string>isolateVisitorSaturation</string>
	<key>futureIncludeScope</key>
	<string>semanticChallengeForce</string>
	<key>gradientInMethod</key>
	<string>animationFromShape</string>
	<key>layerStageMomentum</key>
	<string>lastIconDistance</string>
	<key>localizationAroundFacade</key>
	<string>transformerIncludeTemple</string>
	<key>mediocreMatrixIndex</key>
	<string>declarativeTweenForce</string>
	<key>optionObserverResponse</key>
	<string>labelPatternShape</string>
	<key>resolverLayerTension</key>
	<string>alignmentAgainstProcess</string>
	<key>sequentialLogarithmState</key>
	<string>labelLevelTop</string>
	<key>sineDuringFunction</key>
	<string>immutableGramForce</string>
</dict>
</plist>
