<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxParameterContrast</key>
	<string>cursorFacadeRotation</string>
	<key>diversifiedDecorationSize</key>
	<string>graphOutsideVisitor</string>
	<key>globalCompositionDuration</key>
	<string>routerAmongFramework</string>
	<key>mediocreBuilderStatus</key>
	<string>optimizerProcessColor</string>
	<key>multiPreviewType</key>
	<string>accessibleGridEdge</string>
	<key>stackJobRotation</key>
	<string>positionedAsPrototype</string>
	<key>storeValueTag</key>
	<string>autoTransitionDirection</string>
</dict>
</plist>
