<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageActivityBottom</key>
	<string>textJobRight</string>
	<key>mediocreStepName</key>
	<string>progressbarEnvironmentSkewy</string>
	<key>radiusThanFlyweight</key>
	<string>streamOrAction</string>
	<key>webFeatureInterval</key>
	<string>buttonByForm</string>
</dict>
</plist>
