<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAsPrototype</key>
	<string>primaryRouterMargin</string>
	<key>asyncLayerMode</key>
	<string>expandedNearTemple</string>
	<key>queryPerSystem</key>
	<string>firstViewRate</string>
	<key>similarCardContrast</key>
	<string>oldAssetBottom</string>
	<key>smallObserverMargin</key>
	<string>routeTypeCenter</string>
	<key>subpixelOutsideType</key>
	<string>retainedLogBound</string>
	<key>synchronousAxisFrequency</key>
	<string>reusableResolverVisibility</string>
	<key>unsortedEntropyInteraction</key>
	<string>localSizeShape</string>
</dict>
</plist>
