<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitDuringLevel</key>
	<string>featureFunctionStatus</string>
	<key>customIsolateCoord</key>
	<string>masterNearKind</string>
	<key>drawerBridgeSaturation</key>
	<string>managerAdapterTag</string>
	<key>dynamicScreenDistance</key>
	<string>slashBesidePrototype</string>
	<key>serviceStageMargin</key>
	<string>controllerAlongMode</string>
	<key>specifyAlphaShade</key>
	<string>responsiveCursorValidation</string>
	<key>standaloneSemanticsSkewy</key>
	<string>protocolOperationTransparency</string>
</dict>
</plist>
