<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableCardAppearance</key>
	<string>isolateUntilFlyweight</string>
	<key>diffableGiftCount</key>
	<string>disparateChapterTension</string>
	<key>gesturedetectorStructureFlags</key>
	<string>widgetDuringTask</string>
	<key>symmetricStorageDelay</key>
	<string>basicParticleMomentum</string>
</dict>
</plist>
