<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateOperationLocation</key>
	<string>statefulExceptStyle</string>
	<key>inkwellStageMomentum</key>
	<string>loopPerParameter</string>
	<key>publicLayerBottom</key>
	<string>displayableRouterSkewy</string>
	<key>unsortedContainerCount</key>
	<string>concurrentPopupAlignment</string>
</dict>
</plist>
