<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRowAcceleration</key>
	<string>animatedcontainerPlatformForce</string>
	<key>errorBridgeVelocity</key>
	<string>normalGiftDensity</string>
	<key>explicitEventStatus</key>
	<string>mobileGroupOrigin</string>
	<key>grainParamShape</key>
	<string>monsterViaState</string>
	<key>materialUntilTier</key>
	<string>difficultBrushCenter</string>
	<key>semanticsValueVelocity</key>
	<string>usedGiftTension</string>
	<key>sinkDecoratorAlignment</key>
	<string>localRichtextHue</string>
	<key>textAlongScope</key>
	<string>ignoredChannelMargin</string>
</dict>
</plist>
