<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableBufferMargin</key>
	<string>metadataStyleRight</string>
	<key>gemPatternValidation</key>
	<string>musicSingletonCount</string>
	<key>lastTouchTension</key>
	<string>usageNumberPressure</string>
	<key>symmetricUsecaseState</key>
	<string>scrollableCompleterLeft</string>
</dict>
</plist>
