<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCompositionVelocity</key>
	<string>primaryStateHue</string>
	<key>binaryBufferRight</key>
	<string>associatedPlateTint</string>
	<key>enabledEffectSkewy</key>
	<string>sampleIncludeLevel</string>
	<key>equalizationSinceChain</key>
	<string>vectorStyleAlignment</string>
	<key>mediaFlyweightDensity</key>
	<string>delicateConvolutionTag</string>
	<key>petAtAction</key>
	<string>primaryDependencyColor</string>
	<key>pivotalMatrixIndex</key>
	<string>interactorCommandDelay</string>
	<key>subtleSensorBrightness</key>
	<string>tensorStatelessCount</string>
</dict>
</plist>
