<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeObserverBrightness</key>
	<string>labelScopeMode</string>
	<key>flexibleHashOrigin</key>
	<string>scrollableInjectionTransparency</string>
	<key>segueWithParameter</key>
	<string>diffableStepTheme</string>
	<key>unsortedSineDirection</key>
	<string>similarActivityState</string>
</dict>
</plist>
