<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryMethodResponse</key>
	<string>semanticUsagePosition</string>
	<key>semanticObserverSkewy</key>
	<string>sizeAboutSingleton</string>
	<key>standaloneSignTheme</key>
	<string>completerAndLayer</string>
	<key>tableStrategyInteraction</key>
	<string>managerOutsideMethod</string>
	<key>visibleCubitLeft</key>
	<string>cubeChainFormat</string>
</dict>
</plist>
