<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchSinceValue</key>
	<string>granularTransitionFeedback</string>
	<key>channelPerVariable</key>
	<string>advancedSpecifierValidation</string>
	<key>firstSwitchAppearance</key>
	<string>gemAdapterMargin</string>
	<key>intuitiveResponseSpacing</key>
	<string>modelActivitySkewx</string>
	<key>painterPrototypeCount</key>
	<string>agileTableTop</string>
	<key>specifyRequestLocation</key>
	<string>particleAboutPattern</string>
</dict>
</plist>
