<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAgainstVariable</key>
	<string>accessibleDecorationSpeed</string>
	<key>cupertinoModelTheme</key>
	<string>resolverDecoratorColor</string>
	<key>diversifiedDecorationCenter</key>
	<string>statePlatformVelocity</string>
	<key>finalRepositoryRight</key>
	<string>chartAmongContext</string>
	<key>gridWithStage</key>
	<string>delegateInFunction</string>
	<key>logPhaseRight</key>
	<string>futureExceptCycle</string>
	<key>managerValueMargin</key>
	<string>offsetAsShape</string>
	<key>metadataAwayCycle</key>
	<string>denseAlphaFlags</string>
	<key>sharedBehaviorType</key>
	<string>localizationStateFlags</string>
	<key>taskDecoratorAlignment</key>
	<string>crudeBulletInteraction</string>
</dict>
</plist>
