<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedAppbarBorder</key>
	<string>labelAsPrototype</string>
	<key>cacheVisitorState</key>
	<string>animationOrInterpreter</string>
	<key>delegateShapeSpeed</key>
	<string>descriptionActivityMode</string>
	<key>ephemeralParticleFeedback</key>
	<string>subpixelJobSkewy</string>
	<key>flexibleCapacitiesAcceleration</key>
	<string>statefulObserverDensity</string>
	<key>materialMomentumHue</key>
	<string>errorUntilInterpreter</string>
	<key>opaqueRadioBrightness</key>
	<string>sizeSinceTier</string>
	<key>otherEventVelocity</key>
	<string>requestAlongShape</string>
	<key>parallelLogSpeed</key>
	<string>descriptionAgainstState</string>
	<key>transitionFromObserver</key>
	<string>stateVarRotation</string>
</dict>
</plist>
