<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBaselineOpacity</key>
	<string>specifierContainForm</string>
	<key>columnMethodResponse</key>
	<string>curveVisitorTransparency</string>
	<key>cursorWithProcess</key>
	<string>descriptionEnvironmentAlignment</string>
	<key>fixedUnaryTransparency</key>
	<string>heapPlatformDepth</string>
	<key>layoutVarBorder</key>
	<string>lostExpandedState</string>
	<key>observerViaActivity</key>
	<string>controllerAndBridge</string>
	<key>secondRadiusIndex</key>
	<string>similarOptimizerSpacing</string>
	<key>viewFromSystem</key>
	<string>declarativeWidgetColor</string>
</dict>
</plist>
