<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureBesideJob</key>
	<string>widgetVersusFlyweight</string>
	<key>granularSubscriptionKind</key>
	<string>axisThroughStyle</string>
	<key>isolateOutsideTask</key>
	<string>delegateJobIndex</string>
	<key>repositoryProxySpeed</key>
	<string>uniqueSwitchBottom</string>
	<key>symmetricRouterContrast</key>
	<string>requestCommandSkewx</string>
	<key>topicStageTheme</key>
	<string>viewStructureTop</string>
</dict>
</plist>
