<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSliderSkewx</key>
	<string>heroBufferRight</string>
	<key>cardOfFlyweight</key>
	<string>easyManagerStatus</string>
	<key>cubitPerPattern</key>
	<string>radiusAboutJob</string>
	<key>equalizationForBridge</key>
	<string>labelParameterShade</string>
	<key>integerShapeIndex</key>
	<string>convolutionDuringPhase</string>
	<key>iterativeConfigurationSize</key>
	<string>rowBufferPadding</string>
	<key>labelVariableDuration</key>
	<string>operationOperationAppearance</string>
	<key>secondGestureTint</key>
	<string>streamVarName</string>
	<key>singletonTaskOrientation</key>
	<string>graphVersusOperation</string>
	<key>temporaryOperationResponse</key>
	<string>indicatorWithoutMode</string>
</dict>
</plist>
