<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesForProcess</key>
	<string>accordionPointAcceleration</string>
	<key>labelKindTension</key>
	<string>riverpodSinceFunction</string>
	<key>optionThanPrototype</key>
	<string>channelsPerProxy</string>
	<key>zoneOrVisitor</key>
	<string>pointVisitorName</string>
</dict>
</plist>
