<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAboutVisitor</key>
	<string>priorityStyleDistance</string>
	<key>effectForStructure</key>
	<string>routerCommandCoord</string>
	<key>immediateGramHue</key>
	<string>offsetOfBridge</string>
	<key>movementAboutCycle</key>
	<string>asynchronousCanvasDensity</string>
	<key>queryKindDepth</key>
	<string>titleChainBrightness</string>
	<key>tappableChannelAppearance</key>
	<string>reducerByForm</string>
</dict>
</plist>
