<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryEnvironmentMomentum</key>
	<string>tappableRowTag</string>
	<key>checkboxAboutOperation</key>
	<string>compositionalRiverpodCoord</string>
	<key>expandedAsAction</key>
	<string>delegateProxyDistance</string>
	<key>logarithmInWork</key>
	<string>secondAnimationShape</string>
	<key>marginForParam</key>
	<string>webProviderDuration</string>
	<key>materialBufferSpeed</key>
	<string>mobxTypePosition</string>
	<key>rowFormRate</key>
	<string>dependencyOutsideBuffer</string>
</dict>
</plist>
