<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionUntilVariable</key>
	<string>lastGroupOpacity</string>
	<key>exceptionOrFlyweight</key>
	<string>sophisticatedLossAcceleration</string>
	<key>graphUntilNumber</key>
	<string>histogramAdapterLeft</string>
	<key>protectedNotificationScale</key>
	<string>semanticPaddingVisibility</string>
	<key>requestValueOpacity</key>
	<string>declarativeErrorDuration</string>
	<key>sliderModeHead</key>
	<string>positionContextTint</string>
	<key>sortedStateOrigin</key>
	<string>radioBeyondStage</string>
	<key>zoneExceptFlyweight</key>
	<string>masterBesideFramework</string>
</dict>
</plist>
