<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchForAction</key>
	<string>mediumCanvasAlignment</string>
	<key>concurrentQuerySize</key>
	<string>riverpodFunctionPadding</string>
	<key>cubePerFacade</key>
	<string>capsuleSystemPadding</string>
	<key>injectionStageContrast</key>
	<string>segueIncludeState</string>
	<key>resizableTouchTension</key>
	<string>disabledLayerBrightness</string>
	<key>routerPatternMode</key>
	<string>boxshadowInForm</string>
	<key>sizeOutsideLayer</key>
	<string>otherDialogsMomentum</string>
	<key>uniformListviewFormat</key>
	<string>particleThroughProxy</string>
</dict>
</plist>
