<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSingletonKind</key>
	<string>parallelIntensityOffset</string>
	<key>easySliderPadding</key>
	<string>lostSizeTension</string>
	<key>geometricEffectOpacity</key>
	<string>sustainableInjectionPadding</string>
	<key>popupAtTier</key>
	<string>oldRoleInterval</string>
	<key>queryWithAction</key>
	<string>desktopDrawerType</string>
	<key>routeLikeFramework</key>
	<string>semanticClipperForce</string>
	<key>spriteInsideParameter</key>
	<string>handlerTierFrequency</string>
	<key>tangentInEnvironment</key>
	<string>effectDespiteBuffer</string>
</dict>
</plist>
