<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineDespiteTemple</key>
	<string>overlayAndAdapter</string>
	<key>characterContainNumber</key>
	<string>screenAlongInterpreter</string>
	<key>discardedColumnContrast</key>
	<string>variantBesideStrategy</string>
	<key>mapSingletonHue</key>
	<string>requestBesideStage</string>
	<key>offsetObserverRight</key>
	<string>positionJobForce</string>
	<key>particleExceptScope</key>
	<string>equalizationAwayMode</string>
</dict>
</plist>
