<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSizedboxTransparency</key>
	<string>newestAnimationVelocity</string>
	<key>capacitiesOrAdapter</key>
	<string>channelsNearPlatform</string>
	<key>commandProxyBottom</key>
	<string>sessionThanFramework</string>
	<key>curveFromFlyweight</key>
	<string>sophisticatedMultiplicationTop</string>
	<key>desktopPopupTension</key>
	<string>comprehensiveUsageScale</string>
	<key>loopContainPhase</key>
	<string>subtleMetadataType</string>
	<key>musicTypeState</key>
	<string>customMediaStatus</string>
</dict>
</plist>
