<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAwaitDistance</key>
	<string>mediaqueryInsideProxy</string>
	<key>buttonTaskSkewx</key>
	<string>paddingBesideProxy</string>
	<key>interpolationThanPrototype</key>
	<string>popupDuringBridge</string>
	<key>iterativeStreamBrightness</key>
	<string>queueByVisitor</string>
	<key>localizationBeyondMethod</key>
	<string>directlyBulletPosition</string>
	<key>notificationBesideAdapter</key>
	<string>handlerStyleBottom</string>
	<key>previewStateFormat</key>
	<string>frameCycleAppearance</string>
	<key>themeNearForm</key>
	<string>usecaseObserverForce</string>
	<key>zoneAroundActivity</key>
	<string>secondMasterLeft</string>
</dict>
</plist>
