<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileModelFlags</key>
	<string>diversifiedContainerMargin</string>
	<key>blocStrategyBottom</key>
	<string>routerJobStatus</string>
	<key>constGesturedetectorColor</key>
	<string>layoutInsideVisitor</string>
	<key>keyHeapOrientation</key>
	<string>globalMethodPressure</string>
	<key>primaryBulletAcceleration</key>
	<string>imperativeRectFeedback</string>
	<key>sineWorkTag</key>
	<string>pageviewPhaseRate</string>
	<key>utilByContext</key>
	<string>sensorKindScale</string>
</dict>
</plist>
