<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAmongKind</key>
	<string>curveTempleTransparency</string>
	<key>builderByProcess</key>
	<string>positionMementoForce</string>
	<key>cubeScopeSaturation</key>
	<string>clipperOfEnvironment</string>
	<key>cupertinoPerOperation</key>
	<string>hashSinceParameter</string>
	<key>dimensionObserverOrientation</key>
	<string>positionLikeStructure</string>
	<key>dropdownbuttonFlyweightTransparency</key>
	<string>enabledSpriteRotation</string>
	<key>largeFragmentTension</key>
	<string>completionFromStructure</string>
</dict>
</plist>
