<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateWithoutParameter</key>
	<string>layerModeHue</string>
	<key>mediaAsMediator</key>
	<string>intensityAwayDecorator</string>
	<key>movementCompositeTension</key>
	<string>mapOrParam</string>
	<key>promiseVersusChain</key>
	<string>baselineObserverIndex</string>
	<key>typicalCursorTheme</key>
	<string>threadViaTask</string>
</dict>
</plist>
