<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAmongNumber</key>
	<string>cycleExceptStage</string>
	<key>hierarchicalChannelsOffset</key>
	<string>mobxAroundMemento</string>
	<key>keyExceptionDensity</key>
	<string>concurrentNibLocation</string>
	<key>managerOutsideStyle</key>
	<string>rectCompositeScale</string>
	<key>smartAspectDensity</key>
	<string>desktopSegueFrequency</string>
	<key>spriteChainCenter</key>
	<string>sceneLevelTension</string>
	<key>threadStyleCount</key>
	<string>easyLabelCount</string>
</dict>
</plist>
