<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFormShade</key>
	<string>requestFunctionRotation</string>
	<key>backwardMediaquerySpacing</key>
	<string>descriptorShapeAlignment</string>
	<key>constraintProcessStyle</key>
	<string>profileContainStyle</string>
	<key>integerFacadeStyle</key>
	<string>consumerSinceActivity</string>
	<key>materialServiceShade</key>
	<string>discardedBoxShade</string>
	<key>pinchableDescriptionTail</key>
	<string>convolutionSinceInterpreter</string>
	<key>routeAwayVar</key>
	<string>draggableGrainMargin</string>
	<key>routeWorkColor</key>
	<string>elasticBaselineCenter</string>
	<key>sizeStrategyIndex</key>
	<string>activatedCompleterTail</string>
</dict>
</plist>
