<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorForWork</key>
	<string>tweenAboutScope</string>
	<key>dropdownbuttonExceptTemple</key>
	<string>lazyDocumentHead</string>
	<key>iterativeExceptionAcceleration</key>
	<string>sizeFromParam</string>
</dict>
</plist>
