<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitSinceLevel</key>
	<string>unactivatedDurationEdge</string>
	<key>functionalPetCoord</key>
	<string>hierarchicalModelScale</string>
	<key>grainAmongMemento</key>
	<string>consultativePrecisionTint</string>
	<key>widgetAndFunction</key>
	<string>providerByFacade</string>
</dict>
</plist>
