<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSensorSkewx</key>
	<string>entityShapeTop</string>
	<key>backwardPopupLocation</key>
	<string>accordionLayerAppearance</string>
	<key>cursorForEnvironment</key>
	<string>textBeyondPlatform</string>
	<key>dimensionOfInterpreter</key>
	<string>reactiveTouchTag</string>
	<key>diversifiedToolTint</key>
	<string>interactiveInstructionTail</string>
	<key>documentThroughPlatform</key>
	<string>nextSpineIndex</string>
	<key>remainderIncludeType</key>
	<string>featureMementoState</string>
	<key>sessionWithoutStyle</key>
	<string>staticMetadataRotation</string>
	<key>tabviewContextInteraction</key>
	<string>grainNearBridge</string>
</dict>
</plist>
