<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackFormTail</key>
	<string>resolverByAdapter</string>
	<key>custompaintScopeVisible</key>
	<string>nodeSincePattern</string>
	<key>finalExceptionShade</key>
	<string>chartAlongJob</string>
	<key>localizationLayerState</key>
	<string>exponentAroundMode</string>
	<key>nextSceneState</key>
	<string>techniqueViaBridge</string>
	<key>particleViaTier</key>
	<string>equipmentVarIndex</string>
	<key>profileDecoratorPosition</key>
	<string>interpolationProxyValidation</string>
	<key>sophisticatedListenerOrientation</key>
	<string>flexibleBorderSpacing</string>
	<key>unactivatedSizedboxCount</key>
	<string>petDuringLayer</string>
	<key>zoneFromForm</key>
	<string>menuObserverSize</string>
</dict>
</plist>
