<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureEnvironmentFlags</key>
	<string>navigatorMethodSize</string>
	<key>boxshadowLevelPadding</key>
	<string>storyboardActivityTag</string>
	<key>bufferNumberTint</key>
	<string>storeNearDecorator</string>
	<key>immutableReducerOffset</key>
	<string>titleTempleEdge</string>
	<key>interactiveRemainderDirection</key>
	<string>blocBridgeFrequency</string>
	<key>layoutFacadeSpeed</key>
	<string>sensorAtObserver</string>
	<key>sliderAsState</key>
	<string>singleCertificateTension</string>
	<key>subtlePositionedOrigin</key>
	<string>spineAboutSingleton</string>
	<key>usedContainerDuration</key>
	<string>firstActivityAlignment</string>
</dict>
</plist>
