<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintUntilMemento</key>
	<string>threadVarVisible</string>
	<key>directlyScaleSize</key>
	<string>difficultConstraintFeedback</string>
	<key>gradientIncludeCycle</key>
	<string>dynamicButtonDelay</string>
	<key>managerActivityDepth</key>
	<string>scrollStageDepth</string>
	<key>mediumBrushTop</key>
	<string>resourceLikeMethod</string>
	<key>particleIncludeActivity</key>
	<string>textureNearForm</string>
	<key>priorCompletionSkewx</key>
	<string>signatureWithoutPattern</string>
	<key>switchVarTag</key>
	<string>cycleFrameworkInset</string>
</dict>
</plist>
