<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousInterfaceRotation</key>
	<string>offsetSinceLevel</string>
	<key>clipperIncludeBuffer</key>
	<string>imageFacadeBrightness</string>
	<key>previewPatternOffset</key>
	<string>durationDecoratorFeedback</string>
</dict>
</plist>
