<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardAboutType</key>
	<string>gridPatternRotation</string>
	<key>cellThanNumber</key>
	<string>mobileAboutFacade</string>
	<key>constraintVersusType</key>
	<string>autoSubscriptionColor</string>
	<key>intensityDespiteCycle</key>
	<string>layerDuringJob</string>
	<key>mutableMaterialShape</key>
	<string>vectorContextDuration</string>
	<key>responsiveAnimationDuration</key>
	<string>contractionMediatorEdge</string>
</dict>
</plist>
