<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMobxKind</key>
	<string>chartFrameworkDensity</string>
	<key>dependencyChainFlags</key>
	<string>certificateMediatorDirection</string>
	<key>displayableSensorOrigin</key>
	<string>cacheLevelBottom</string>
	<key>entityAwayVariable</key>
	<string>normalScreenDensity</string>
	<key>eventTaskPosition</key>
	<string>nativeTransitionTension</string>
	<key>instructionFormRate</key>
	<string>mediaqueryPlatformStatus</string>
	<key>listviewExceptAdapter</key>
	<string>checkboxWithoutSystem</string>
	<key>mainRadioInteraction</key>
	<string>bitrateMethodBehavior</string>
	<key>positionWithBuffer</key>
	<string>profileAgainstProcess</string>
	<key>tweenWithKind</key>
	<string>mobileHistogramOrientation</string>
</dict>
</plist>
