<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAmongTemple</key>
	<string>accessibleDialogsStyle</string>
	<key>immutableGetxTransparency</key>
	<string>scaffoldAmongStructure</string>
	<key>interfaceOperationMomentum</key>
	<string>memberMethodTransparency</string>
	<key>multiMapEdge</key>
	<string>gridLikeForm</string>
	<key>positionedDuringMethod</key>
	<string>materialAlignmentValidation</string>
	<key>prevSkirtBorder</key>
	<string>giftExceptWork</string>
	<key>uniquePrecisionSpacing</key>
	<string>multiResultTint</string>
	<key>usedActionInteraction</key>
	<string>invisiblePresenterHead</string>
</dict>
</plist>
