<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopMobileBound</key>
	<string>independentHandlerSpeed</string>
	<key>equalizationLevelPressure</key>
	<string>invisibleContractionCenter</string>
	<key>nativeCoordinatorLeft</key>
	<string>bufferTierVisible</string>
	<key>segmentDespiteStage</key>
	<string>subscriptionUntilVisitor</string>
</dict>
</plist>
