<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAboutProcess</key>
	<string>normalAsyncBottom</string>
	<key>bitrateByType</key>
	<string>channelsInVariable</string>
	<key>sineActivityStyle</key>
	<string>methodIncludeSystem</string>
	<key>transitionCommandInset</key>
	<string>navigationPatternOpacity</string>
</dict>
</plist>
