<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintFrameworkRate</key>
	<string>directAspectratioOffset</string>
	<key>directAssetKind</key>
	<string>localSceneMode</string>
	<key>listviewVersusChain</key>
	<string>textSingletonInset</string>
	<key>mediumMusicAlignment</key>
	<string>nodeParameterHead</string>
	<key>rowAwayComposite</key>
	<string>storageScopeInterval</string>
	<key>scaffoldNearPattern</key>
	<string>bulletStageColor</string>
	<key>sessionFacadeOpacity</key>
	<string>robustResultTail</string>
	<key>tensorPaddingRate</key>
	<string>errorAgainstMethod</string>
</dict>
</plist>
