<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesFromChain</key>
	<string>delicateChannelIndex</string>
	<key>exceptionVisitorBehavior</key>
	<string>threadVersusVariable</string>
	<key>featureAwayAction</key>
	<string>collectionObserverStatus</string>
	<key>geometricProtocolOffset</key>
	<string>materialObserverContrast</string>
	<key>publicColumnSpeed</key>
	<string>capsuleAlongForm</string>
</dict>
</plist>
