<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterBesideMediator</key>
	<string>tableProxyKind</string>
	<key>mobileFromFramework</key>
	<string>tweenLikeComposite</string>
	<key>pageviewNearChain</key>
	<string>rapidGetxMomentum</string>
	<key>pinchableSceneTheme</key>
	<string>enabledDurationName</string>
	<key>responseStructureRight</key>
	<string>isolateAlongCycle</string>
	<key>sensorTempleTop</key>
	<string>signIncludeVar</string>
	<key>tabviewActionRight</key>
	<string>borderBufferState</string>
</dict>
</plist>
