<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoFrequency</key>
	<string>gesturedetectorBesideAction</string>
	<key>buttonInsidePhase</key>
	<string>originalPrecisionStatus</string>
	<key>frameThroughAction</key>
	<string>groupUntilVariable</string>
	<key>gramBufferOpacity</key>
	<string>statelessMissionDensity</string>
	<key>intermediateBulletBehavior</key>
	<string>functionalMediaqueryRotation</string>
	<key>popupUntilDecorator</key>
	<string>localCommandStatus</string>
	<key>promiseSinceValue</key>
	<string>vectorTypeType</string>
</dict>
</plist>
