<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lazyVectorDensity</key>
	<string>buttonDespiteVariable</string>
	<key>managerTempleCount</key>
	<string>persistentRiverpodFormat</string>
	<key>precisionPerPhase</key>
	<string>singleProviderVisibility</string>
	<key>vectorJobCount</key>
	<string>groupBeyondDecorator</string>
</dict>
</plist>
