<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureViaDecorator</key>
	<string>subpixelOutsideFlyweight</string>
	<key>binaryMementoVisible</key>
	<string>declarativeInkwellAppearance</string>
	<key>crucialPromiseCoord</key>
	<string>entityInterpreterTail</string>
	<key>enabledExtensionInterval</key>
	<string>previewOutsideSystem</string>
	<key>handlerMethodDuration</key>
	<string>independentMobxBrightness</string>
	<key>painterActionType</key>
	<string>firstAxisMargin</string>
	<key>streamVarKind</key>
	<string>layoutThanPhase</string>
</dict>
</plist>
