<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThanMode</key>
	<string>hashIncludeVisitor</string>
	<key>clipperFacadeIndex</key>
	<string>resourceAndStrategy</string>
	<key>discardedFeatureOpacity</key>
	<string>transformerAboutSingleton</string>
	<key>routeParamCount</key>
	<string>gemPerStructure</string>
	<key>singleCapacitiesTail</key>
	<string>projectionSystemInset</string>
	<key>specifyViewInset</key>
	<string>lazyLayerBound</string>
</dict>
</plist>
