<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheInsideAction</key>
	<string>desktopPlateCenter</string>
	<key>chapterEnvironmentTop</key>
	<string>descriptionFunctionDirection</string>
	<key>checklistOrJob</key>
	<string>pivotalTouchVelocity</string>
	<key>iconAboutEnvironment</key>
	<string>compositionAgainstCycle</string>
	<key>logDespiteType</key>
	<string>smallExtensionSkewx</string>
</dict>
</plist>
