<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFacadeCount</key>
	<string>prevResolverLeft</string>
	<key>curveInsideDecorator</key>
	<string>baseByLayer</string>
	<key>uniformCycleState</key>
	<string>criticalAnimationKind</string>
	<key>usecaseCompositeHead</key>
	<string>nextBlocInset</string>
</dict>
</plist>
