<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSinkRotation</key>
	<string>specifySwitchOffset</string>
	<key>globalSineCount</key>
	<string>resultWithoutPlatform</string>
	<key>isolateTaskFormat</key>
	<string>keyPageviewDirection</string>
	<key>responsiveDropdownbuttonContrast</key>
	<string>segmentAboutOperation</string>
	<key>textfieldCycleSize</key>
	<string>projectPhaseSkewy</string>
</dict>
</plist>
