<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCommandColor</key>
	<string>remainderShapePressure</string>
	<key>inkwellKindOrigin</key>
	<string>fusedStreamSpacing</string>
	<key>navigatorDuringStrategy</key>
	<string>vectorLevelBrightness</string>
	<key>zoneTypeOrigin</key>
	<string>diversifiedRoleSkewx</string>
</dict>
</plist>
