<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBufferDirection</key>
	<string>asyncAnimatedcontainerFeedback</string>
	<key>cellPatternMargin</key>
	<string>indicatorVariableOffset</string>
	<key>diversifiedActionMomentum</key>
	<string>spineEnvironmentScale</string>
	<key>diversifiedOffsetDistance</key>
	<string>blocOperationTension</string>
	<key>kernelParameterLocation</key>
	<string>textFrameworkMode</string>
	<key>lostProgressbarKind</key>
	<string>navigatorAroundVar</string>
	<key>paddingParamDelay</key>
	<string>themeThroughType</string>
	<key>reusableLoopDelay</key>
	<string>flexIncludeLayer</string>
	<key>roleOperationPressure</key>
	<string>granularMethodType</string>
	<key>standaloneNavigatorTag</key>
	<string>buttonViaOperation</string>
</dict>
</plist>
