<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedDelegateOrientation</key>
	<string>plateAgainstFramework</string>
	<key>radioVariableSpeed</key>
	<string>hyperbolicChapterFrequency</string>
	<key>statelessWorkTail</key>
	<string>gramByWork</string>
	<key>usedSineAcceleration</key>
	<string>integerValueTheme</string>
</dict>
</plist>
