<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridAndLevel</key>
	<string>elasticInstructionMomentum</string>
	<key>originalReductionForce</key>
	<string>segueStateVisibility</string>
	<key>projectionMethodSpacing</key>
	<string>commandExceptKind</string>
	<key>robustBuilderDirection</key>
	<string>threadAgainstProxy</string>
	<key>robustSceneType</key>
	<string>threadTypeTransparency</string>
</dict>
</plist>
