<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBaselineBrightness</key>
	<string>challengeBeyondEnvironment</string>
	<key>autoQueueDirection</key>
	<string>storageAgainstFacade</string>
	<key>backwardCanvasMomentum</key>
	<string>mobxTierTail</string>
	<key>explicitCompleterVisible</key>
	<string>decorationParameterFeedback</string>
	<key>intuitiveModulusRate</key>
	<string>chapterAdapterSize</string>
	<key>lastAnimationBottom</key>
	<string>ignoredEntityCoord</string>
	<key>newestActionTension</key>
	<string>constraintIncludeEnvironment</string>
	<key>tweenWithPrototype</key>
	<string>constTopicTail</string>
	<key>viewCommandColor</key>
	<string>chapterLevelTop</string>
</dict>
</plist>
