<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerOrWork</key>
	<string>greatPositionState</string>
	<key>methodOutsideType</key>
	<string>subscriptionViaValue</string>
	<key>nextConfigurationKind</key>
	<string>singleTaskOffset</string>
	<key>primaryAlignmentHue</key>
	<string>effectAroundFramework</string>
	<key>statefulGrayscaleRate</key>
	<string>menuDespiteStrategy</string>
	<key>textModeTail</key>
	<string>customizedCurveCenter</string>
	<key>unsortedWidgetFrequency</key>
	<string>repositoryKindBehavior</string>
</dict>
</plist>
