<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStructureShape</key>
	<string>delegateUntilInterpreter</string>
	<key>factoryIncludeType</key>
	<string>immediateMediaRight</string>
	<key>indicatorAsBridge</key>
	<string>allocatorWithMediator</string>
	<key>newestDurationFeedback</key>
	<string>beginnerWidgetTail</string>
	<key>resourceBeyondStructure</key>
	<string>particleDespiteMemento</string>
	<key>serviceObserverFormat</key>
	<string>binaryVersusVar</string>
	<key>tabbarLikeActivity</key>
	<string>substantialAlignmentDirection</string>
</dict>
</plist>
