<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBehaviorAppearance</key>
	<string>descriptionModeContrast</string>
	<key>eventIncludeStrategy</key>
	<string>inheritedPromiseVisible</string>
	<key>flexBeyondTemple</key>
	<string>listenerInterpreterForce</string>
	<key>hashFormPosition</key>
	<string>protectedOptionMode</string>
	<key>standaloneRowCoord</key>
	<string>basicAccessoryEdge</string>
	<key>usageThanFacade</key>
	<string>compositionalTextSaturation</string>
</dict>
</plist>
