<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVectorState</key>
	<string>concurrentOptimizerPadding</string>
	<key>currentReferenceAlignment</key>
	<string>zoneUntilTier</string>
	<key>discardedOptionTransparency</key>
	<string>viewBridgeContrast</string>
	<key>dropdownbuttonTierSize</key>
	<string>concreteBlocEdge</string>
	<key>normalSubpixelSpeed</key>
	<string>rectExceptCycle</string>
	<key>reactivePrecisionColor</key>
	<string>statelessTypeVisible</string>
</dict>
</plist>
