<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaParamLocation</key>
	<string>navigatorMementoDistance</string>
	<key>columnActivityTag</key>
	<string>streamAtMemento</string>
	<key>mediaInDecorator</key>
	<string>dialogsFunctionKind</string>
	<key>metadataJobFrequency</key>
	<string>workflowParameterContrast</string>
	<key>prevResolverOrientation</key>
	<string>asynchronousCubitDirection</string>
	<key>techniqueForNumber</key>
	<string>riverpodFromScope</string>
</dict>
</plist>
