<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuSinceDecorator</key>
	<string>viewTaskIndex</string>
	<key>mobilePrototypeShade</key>
	<string>radioFacadeScale</string>
	<key>originalDescriptorInteraction</key>
	<string>methodCompositeBound</string>
	<key>prismaticIsolateSaturation</key>
	<string>textfieldProxyInteraction</string>
	<key>screenModeBrightness</key>
	<string>keyPresenterFormat</string>
	<key>scrollContextVisible</key>
	<string>cubitBridgeSpeed</string>
</dict>
</plist>
