<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonThroughMediator</key>
	<string>concreteSingletonShade</string>
	<key>factoryKindTension</key>
	<string>buttonContextEdge</string>
	<key>gridviewNumberMargin</key>
	<string>marginScopeDensity</string>
	<key>inactiveSpriteBottom</key>
	<string>coordinatorParamState</string>
	<key>intensityParameterDistance</key>
	<string>queryCycleDirection</string>
	<key>isolateContextCenter</key>
	<string>factoryAtDecorator</string>
	<key>isolateLevelType</key>
	<string>gesturedetectorFromType</string>
	<key>rowParameterMode</key>
	<string>navigatorFormInset</string>
	<key>serviceForFunction</key>
	<string>interactorBeyondFunction</string>
</dict>
</plist>
