<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorBridgeBottom</key>
	<string>menuOutsideVar</string>
	<key>contractionDespiteVariable</key>
	<string>providerUntilFlyweight</string>
	<key>exceptionInsideStage</key>
	<string>variantIncludeShape</string>
	<key>isolateNearAdapter</key>
	<string>semanticsKindIndex</string>
	<key>nibThroughPattern</key>
	<string>toolPerState</string>
	<key>pinchableCubitTail</key>
	<string>mapShapeMode</string>
	<key>playbackOrCommand</key>
	<string>storageStageOpacity</string>
	<key>sceneCommandResponse</key>
	<string>gemVisitorForce</string>
	<key>streamEnvironmentTension</key>
	<string>workflowCommandVisible</string>
	<key>viewWorkTag</key>
	<string>subscriptionExceptFunction</string>
</dict>
</plist>
