<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonDespiteJob</key>
	<string>timerAtNumber</string>
	<key>commandPerForm</key>
	<string>cacheOfType</string>
	<key>descriptorIncludeMethod</key>
	<string>nodeInInterpreter</string>
	<key>offsetJobFrequency</key>
	<string>ephemeralFlexDuration</string>
	<key>painterUntilStyle</key>
	<string>sessionOrChain</string>
	<key>projectContainProxy</key>
	<string>characterNumberResponse</string>
	<key>staticTernaryBottom</key>
	<string>scrollSystemTransparency</string>
</dict>
</plist>
