<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedBorderDensity</key>
	<string>constraintSingletonSkewx</string>
	<key>logarithmFormHue</key>
	<string>providerBeyondScope</string>
	<key>nativeStackOpacity</key>
	<string>durationThroughSystem</string>
	<key>reducerObserverDensity</key>
	<string>asynchronousWidgetShape</string>
	<key>resolverWithoutState</key>
	<string>mainAnchorFlags</string>
	<key>specifierAboutTier</key>
	<string>certificateChainLocation</string>
	<key>storyboardStructureAppearance</key>
	<string>mutableLayerFrequency</string>
</dict>
</plist>
