<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOutsideAdapter</key>
	<string>imperativeLabelAcceleration</string>
	<key>aspectratioCycleShape</key>
	<string>methodOfLevel</string>
	<key>crudeCellBorder</key>
	<string>labelOperationHead</string>
	<key>errorLikeParam</key>
	<string>singlePointIndex</string>
	<key>hierarchicalRectBehavior</key>
	<string>callbackOrType</string>
	<key>listviewSingletonContrast</key>
	<string>consultativePriorityLocation</string>
	<key>sliderInState</key>
	<string>interactorCycleDepth</string>
	<key>spineThanForm</key>
	<string>cycleInterpreterPressure</string>
	<key>spotInsideObserver</key>
	<string>skinPhaseTop</string>
</dict>
</plist>
