<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directPositionHead</key>
	<string>semanticGridviewAlignment</string>
	<key>getxWithoutInterpreter</key>
	<string>sinkCommandDelay</string>
	<key>resultTempleBorder</key>
	<string>cubeThanPlatform</string>
	<key>symmetricSizeTop</key>
	<string>lazyExceptionVisibility</string>
</dict>
</plist>
