<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryContainValue</key>
	<string>entityModeBrightness</string>
	<key>declarativeControllerOffset</key>
	<string>listenerInsideFramework</string>
	<key>variantInsideFlyweight</key>
	<string>scaffoldPrototypeValidation</string>
</dict>
</plist>
