<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAtDecorator</key>
	<string>fragmentNearAction</string>
	<key>notificationOperationDepth</key>
	<string>buttonActivityFormat</string>
	<key>segueCycleBorder</key>
	<string>listenerOrDecorator</string>
	<key>stampWithProcess</key>
	<string>zoneStyleSpacing</string>
</dict>
</plist>
