<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAwayActivity</key>
	<string>shaderFrameworkOrientation</string>
	<key>delegateKindColor</key>
	<string>mobileBoxshadowName</string>
	<key>secondCharacterAppearance</key>
	<string>inheritedDelegateFormat</string>
	<key>statefulPlatformInterval</key>
	<string>subsequentConfigurationSpeed</string>
</dict>
</plist>
