<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveFrameVisibility</key>
	<string>immutableGroupSpacing</string>
	<key>concurrentRowContrast</key>
	<string>labelValueMode</string>
	<key>crucialQueryState</key>
	<string>respectiveSpritePosition</string>
	<key>gridMediatorHue</key>
	<string>featureIncludeDecorator</string>
</dict>
</plist>
