<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandStrategyRotation</key>
	<string>reducerInsideChain</string>
	<key>constraintActivityBound</key>
	<string>labelInterpreterCount</string>
	<key>equalizationActionTension</key>
	<string>durationThroughPrototype</string>
	<key>inactiveProviderTop</key>
	<string>numericalFrameResponse</string>
	<key>logOfStage</key>
	<string>stampChainAcceleration</string>
	<key>mediumMenuInset</key>
	<string>awaitSystemDistance</string>
	<key>modalDuringParam</key>
	<string>reusableGesturedetectorCoord</string>
	<key>optionSinceStyle</key>
	<string>smartInterpolationMode</string>
	<key>resolverForNumber</key>
	<string>disabledProfileRight</string>
	<key>segmentOutsideContext</key>
	<string>sliderOperationFeedback</string>
</dict>
</plist>
