<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileNodeTail</key>
	<string>descriptionExceptShape</string>
	<key>gridNumberOpacity</key>
	<string>capacitiesAboutAdapter</string>
	<key>profileOrNumber</key>
	<string>autoRowBound</string>
	<key>requestThroughFacade</key>
	<string>mediumHashAcceleration</string>
	<key>substantialTaskMargin</key>
	<string>labelAndTier</string>
	<key>usageViaContext</key>
	<string>appbarModeVisible</string>
</dict>
</plist>
