<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstCoordinatorName</key>
	<string>permissiveAwaitDelay</string>
	<key>futureAwayBridge</key>
	<string>directlySkinMode</string>
	<key>handlerByFunction</key>
	<string>mainVariantDepth</string>
</dict>
</plist>
