<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonShapeMomentum</key>
	<string>effectChainEdge</string>
	<key>certificateContextValidation</key>
	<string>iconPatternDirection</string>
	<key>interpolationWithScope</key>
	<string>explicitCertificateEdge</string>
	<key>responsiveColumnSaturation</key>
	<string>newestExceptionScale</string>
</dict>
</plist>
