<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticHandlerCount</key>
	<string>largeVectorEdge</string>
	<key>gateBufferAppearance</key>
	<string>eagerCompleterSpacing</string>
	<key>normForLayer</key>
	<string>transitionNearSingleton</string>
	<key>notifierBridgeBehavior</key>
	<string>cosineParameterBottom</string>
	<key>positionedNumberBorder</key>
	<string>commonZoneHead</string>
	<key>textLevelForce</key>
	<string>asynchronousExponentForce</string>
	<key>textureVarInterval</key>
	<string>offsetThanOperation</string>
</dict>
</plist>
