<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeChannelsCoord</key>
	<string>blocPerType</string>
	<key>handlerValueDuration</key>
	<string>concreteSessionVelocity</string>
	<key>presenterBufferEdge</key>
	<string>rowContainVar</string>
	<key>presenterScopeSkewy</key>
	<string>tangentActionBehavior</string>
	<key>rapidThreadSkewy</key>
	<string>storeLikeObserver</string>
	<key>richtextAmongSystem</key>
	<string>criticalMediaTheme</string>
	<key>subscriptionVarBrightness</key>
	<string>binaryActivitySkewy</string>
	<key>vectorContextCoord</key>
	<string>mutableScreenAppearance</string>
</dict>
</plist>
