<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonScopeHue</key>
	<string>opaqueSpotMomentum</string>
	<key>durationPhaseForce</key>
	<string>desktopStorageVisible</string>
	<key>fixedRadiusKind</key>
	<string>eagerTabbarSkewy</string>
	<key>imageAlongTier</key>
	<string>ephemeralSkinInset</string>
	<key>paddingPerChain</key>
	<string>factoryVisitorShade</string>
	<key>smartArithmeticPressure</key>
	<string>granularCurveMargin</string>
	<key>subsequentEffectType</key>
	<string>offsetInterpreterFeedback</string>
	<key>vectorWithMemento</key>
	<string>movementSystemTransparency</string>
</dict>
</plist>
