<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particleThanActivity</key>
	<string>particleFromVisitor</string>
	<key>permanentGroupMomentum</key>
	<string>staticRowOffset</string>
	<key>subpixelWorkDuration</key>
	<string>configurationLevelColor</string>
	<key>transitionAdapterSaturation</key>
	<string>retainedStatelessOrigin</string>
</dict>
</plist>
