<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionVarAppearance</key>
	<string>cosineStructureSpacing</string>
	<key>coordinatorObserverAlignment</key>
	<string>boxshadowWithVisitor</string>
	<key>desktopChartSkewy</key>
	<string>zoneOutsideCycle</string>
	<key>featureDuringFunction</key>
	<string>integerInsideAdapter</string>
	<key>modalCycleOrientation</key>
	<string>lastProjectionInset</string>
	<key>providerTypeVisibility</key>
	<string>normJobBound</string>
	<key>reusableMusicEdge</key>
	<string>statelessFunctionShade</string>
	<key>routeMediatorName</key>
	<string>specifierAroundSingleton</string>
</dict>
</plist>
