<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveOrVisitor</key>
	<string>loopPatternAlignment</string>
	<key>missedUtilDirection</key>
	<string>permissiveExtensionVelocity</string>
	<key>movementNearType</key>
	<string>serviceWithoutFunction</string>
	<key>shaderJobVisible</key>
	<string>batchDecoratorPadding</string>
	<key>tabbarFlyweightBehavior</key>
	<string>constraintByState</string>
	<key>techniqueBufferMomentum</key>
	<string>textTaskBorder</string>
</dict>
</plist>
