<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionCompositeTheme</key>
	<string>modulusParameterSize</string>
	<key>cubitWorkPressure</key>
	<string>vectorForTask</string>
	<key>integerCommandMargin</key>
	<string>eagerContainerBrightness</string>
	<key>intensityAtEnvironment</key>
	<string>associatedStatelessStatus</string>
	<key>lastShaderRate</key>
	<string>nativeFragmentFlags</string>
	<key>providerNumberStyle</key>
	<string>usedDurationStyle</string>
	<key>slashAgainstScope</key>
	<string>lazyServiceEdge</string>
	<key>taskDecoratorMode</key>
	<string>repositoryAndFramework</string>
	<key>variantWithoutAction</key>
	<string>cosineDespiteMethod</string>
</dict>
</plist>
