<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationStageTint</key>
	<string>radiusAboutMode</string>
	<key>instructionSingletonTheme</key>
	<string>adaptiveInjectionValidation</string>
	<key>normTypeBorder</key>
	<string>streamAlongVisitor</string>
	<key>specifySignFormat</key>
	<string>boxshadowTypeType</string>
</dict>
</plist>
