<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveBeyondStyle</key>
	<string>sinkPhaseStyle</string>
	<key>entityActionValidation</key>
	<string>gridviewFormVisible</string>
	<key>injectionFunctionBottom</key>
	<string>iconTierHead</string>
	<key>queryActionDistance</key>
	<string>containerParameterDensity</string>
	<key>shaderThanJob</key>
	<string>enabledTaskState</string>
	<key>usageEnvironmentSaturation</key>
	<string>relationalBoxInset</string>
</dict>
</plist>
