<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLikePhase</key>
	<string>controllerInSingleton</string>
	<key>callbackFunctionTop</key>
	<string>tweenSystemName</string>
	<key>delegateSingletonCount</key>
	<string>factoryWithoutVar</string>
	<key>diversifiedContractionVisibility</key>
	<string>draggableButtonFeedback</string>
	<key>fusedTouchBehavior</key>
	<string>commonCallbackSpacing</string>
	<key>listenerParamRate</key>
	<string>storeOperationBottom</string>
	<key>sophisticatedWidgetSize</key>
	<string>modelPerFunction</string>
	<key>viewAlongActivity</key>
	<string>stateAboutPhase</string>
</dict>
</plist>
