<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionParameterLeft</key>
	<string>permanentThreadSpeed</string>
	<key>cacheCompositeStatus</key>
	<string>decorationAlongBridge</string>
	<key>constraintProxyDuration</key>
	<string>queryStyleOrientation</string>
	<key>inheritedSpineInterval</key>
	<string>flexibleMethodInterval</string>
</dict>
</plist>
